{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h4 class="m-0 p-0 py-5 text-center">Kullanıcı Adı ve Şifrenizi Giriniz</h4>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <form method="post">
            {% csrf_token %}
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-lg" name="username" placeholder="Kullanıcı Adı">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="password" class="form-control form-control-lg" name="password" placeholder="Şifreniz">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-row m-0 p-0">
                        <div class="col-4 m-0 p-0">
                            <button type="submit" class="btn btn-success">Giriş Yap</button>
                        </div>
                        <div class="col-8 m-0 p-0">
                            <p class="m-0 px-2 pb-0 pt-3">
                                <a class="m-0 p-0" href="{% url 'register:register' %}">ÜYE OL</a> veya <a class="m-0 p-0" href="{% url 'register:password_reset' %}">ŞİFRE AL</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}