{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-5 mx-0 p-0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 m-0 p-0">
        <div class="row mt-5 m-0 p-0">
            <div class="col-sm-4"></div>
            <div class="col-sm-5">
                <h1 class="display-4 font-italic border-bottom box-shadow">GİRİŞ</h1>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-sm-3 m-0 p-0"></div>
            <div class="col-sm-6 m-0 p-0 text-center">
                <form class="m-0 p-0" method="post" action="{% url 'register:login' %}">
                    {% csrf_token %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="text" name="username" placeholder="Kullanıcı Adı">
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.username.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="password" name="password" placeholder="Şifreniz">
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.password.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn-lg btn-dark mx-3 p-2 px-3 border-0" type="submit" name="save">GİRİŞ YAP</button>
                        <input type="hidden" name="next" value="{{ next }}" />
                        <a class="m-0 p-0" href="{% url 'register:register' %}">ÜYE OL</a> veya <a class="m-0 p-0" >ŞİFRE AL</a><!--href="{% url 'register:password_reset' %}"-->
                    </div>
                    <div class="form-group mt-3">
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.errors.as_text}}</p>
                        {% endif %}
                    </div>
                </form>
            </div>
            <div class="col-sm-3 m-0 p-0"></div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}