{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="col-sm-8 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-sm-12 m-0 p-0">
            <div class="logindiv0cerceve">
                <div class="row m-0 p-0">
                    <div class="col-sm-12 m-0 p-0">
                        <div class="logindiv1baslik">
                            <p class="m-0 p-0">Sayın {{user.username}},<br>
                                Başarılı bir şekilde sitemize giriş yapmış bulunuyorsunuz.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
