{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="logindiv0cerceve">
            <div class="row m-0 p-0">
                <div class="col-sm-12 m-0 p-0">
                    <div class="logindiv1baslik">
                        <p class="m-0 p-0">Başarılı bir şekilde çıkış yapmış bulunmaktasırnız.
                            <br>Misafir olarak sitemizi ziyaret etmeye devam edebilirsiniz.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}