{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="col-sm-8 m-0 p-0">
    <div class="row m-0 p-0">
        <div class="col-sm-12 m-0 p-0">
            {% if user.is_authenticated %}
            <div class="logindiv0cerceve">
                <div class="row m-0 p-0">
                    <div class="col-sm-12 m-0 p-0">
                        <div class="logindiv1baslik">
                            <p class="m-0 p-0">TEBRİKLER {{user.username}}, Kaydınız başarı ile tamamlanmıştır.<br>Üye olarak ziyaretinize devam edebilirsiniz.</p>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="logindiv2form">
                <form method="post">
                    {% csrf_token %}
                    <div style="margin:10px 0 0 0; padding:0;">
                        <input type="text" name="username" placeholder="Kullanıcı Adınız" maxlength="50"
                               style="width: 300px; font-size: 20px; margin:0; padding:20px;">
                    </div>
                    <div style="margin:10px 0 0 0; padding:0;">
                        <input type="password" name="password" placeholder="Şifreniz" maxlength="50"
                               style="width: 300px; font-size: 20px; margin:0; padding: 20px;">
                    </div>
                    <button class="logindiv2formbutton" type="submit">Giriş Yap</button>
                    <p class="logindiv2formp">
                        <a href="{% url 'register:register' %}">ÜYE OL</a>
                        veya <a href="{% url 'register:password_reset' %}">ŞİFRE AL</a>
                    </p>
                </form>
            </div>
            <div class="p-1 bg-light mx-auto">
                <div class="m-0 p-3" style="background-color: #ccffff; background-image: linear-gradient(to right, white,#ccffff, white);">
                    <h4 class="p-0 m-0 text-center ">{{mesaj}}</h4>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}