{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="m-5 p-5">
            <div class="m-0 p-3 bg-secondary"><h4 class="m-0 p-0 text-white">Hesabım</h4></div>
            <table class="table">
                <tbody>
                <tr>
                    <th scope="row">Adınız :</th>
                    <td>{{user.first_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Soyadınız :</th>
                    <td>{{user.last_name}}</td>
                </tr>
                <tr>
                    <th scope="row">Kullanıcı Adınız :</th>
                    <td>{{user.username}}</td>
                </tr>
                <tr>
                    <th scope="row">Eposta :</th>
                    <td>{{user.email}}</td>
                </tr>
                <tr>
                    <th scope="row">Üyelik Başlangıçı :</th>
                    <td>{{user.date_joined.day}}/{{user.date_joined.month}}/{{user.date_joined.year}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}