{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h4 class="m-0 p-0 py-5 text-center">Bilgileri Eksiksiz Doldurunuz.</h4>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <form method="post">
            {% csrf_token %}
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-lg" name="username" placeholder="Kullanıcı Adınız">
                    <!--<small name ="username" class="form-text text-muted">Kullanıcı adınız en fazla 20 karekter uzunluğunda olmalı, sayı ve harf dışında karakter içermemelidir.</small>-->
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-lg" name="first_name" placeholder="Adınız">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="text" class="form-control form-control-lg" name="last_name" placeholder="Soyadınız">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="email" class="form-control form-control-lg" name="email" placeholder="E-posta Adresiniz">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="password" class="form-control form-control-lg" name="password1" placeholder="Şifreniz">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <input type="password" class="form-control form-control-lg" name="password2" placeholder="Şifrenizi Tekrar Giriniz">
                </div>
                <div class="col-sm-4"></div>
            </div>
            <div class="form-group row">
                <div class="col-sm-4"></div>
                <div class="col-sm-4">
                    <div class="form-row m-0 p-0">
                        <button type="submit" class="btn btn-lg btn-success w-100 mx-auto">Giriş Yap</button>
                    </div>
                </div>
                <div class="col-sm-4"></div>
            </div>
        </form>
    </div>
</div>
{% endblock %}

<!--
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <form method="post">
            {% csrf_token %}
            {% for field in form %}
            <div style="margin:10px 0 0 0; padding:0;">
                {{ field }}
                {% if field.help_text %}
                <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
                {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
                {% endfor %}
            </div>
            {% endfor %}
            <button class="logindiv2formbutton" type="submit">Giriş Yap</button>
        </form>
    </div>
</div>
-->