{% extends 'ruyatabirleri/temel_anasayfa.html' %}
{% load i18n %}

{% block content %}
{% get_current_language as LANGUAGE_CODE %}
{% if LANGUAGE_CODE == 'ar' %}
<div class="row my-0 mx-0 p-0 ">
    <div class="col-md-6 my-0 p-0 mx-auto">
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12 text-right" dir="rtl">
                <h1 class="display-4 font-italic border-bottom box-shadow">{% trans "İletişim" %}</h1>
            </div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="row m-0 p-0 text-right" dir="rtl"><h1>{{mesaj}}</h1></div>
            <div class="col-md-8 my-0 p-0 mx-auto">
                <form class="m-0 p-0 " action="{% url 'ruyatabirleri:iletisim' %}" method="post">
                    {% csrf_token %}
                    {% trans "İsminiz" as place_holder_isminiz %}
                    <div class="form-group mt-3 text-right" dir="rtl">
                        <input class="form-control m-0" type="text" name="isim" placeholder="{{place_holder_isminiz}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.isim.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Soyisminiz" as place_holder_soyisminiz %}
                    <div class="form-group mt-3 text-right" dir="rtl">
                        <input class="form-control m-0" type="text" name="soy_isim" placeholder="{{place_holder_soyisminiz}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.soy_isim.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "örnek@posta.com" as place_holder_ornek %}
                    <div class="form-group mt-3 " >
                        <input class="form-control m-0 text-right" type="email" name="eposta" placeholder="{{place_holder_ornek}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.eposta.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Lütfen eposta adresinizi doğrulamak için tekrar yazınız." as place_holder_ornek1 %}
                    <div class="form-group mt-3 text-right" dir="rtl">
                        <input class="form-control m-0" type="email" name="eposta1" placeholder="{{place_holder_ornek1}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.eposta.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Mesajınızı Yazınız" as place_holder_mesaj %}
                    <div class="form-group mt-3 text-right" dir="rtl">
                        <textarea class="form-control m-0" name="mesaj" placeholder="{{place_holder_mesaj}}" rows="3" required></textarea>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.mesaj.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button class="btn-lg btn-dark border-0" type="submit" name="save">{% trans "GÖNDER" %}</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12 text-right" dir="rtl">
                <h1 class="display-4 font-italic border-bottom box-shadow">{% trans "Sosyal Medya" %}</h1>
            </div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-12">
                <p><i class="fa fa-home fa-lg mr-3"></i><a class="" href="{% url 'ruyatabirleri:anasayfa'%}">www.ruyatabirix.com</a></p>
                <p><i class="fa fa-envelope fa-lg mr-3"></i><a class="">ruyatabirix.com@gmail.com</a></p>
                <p><i class="fa fa-instagram fa-lg mr-3"></i><a class="" href="https://www.instagram.com/ruyatabirix/?hl=tr">instgram</a></p>
                <p><i class="fa fa-youtube fa-lg mr-3"></i><a class="" href="https://www.youtube.com/channel/UCpKlza2uiEx31xPGvIliVoQ/">Youtube</a></p>
                <p><i class="fa fa-facebook-f fa-lg mr-3"></i><a class="" href="https://www.facebook.com/ruya.tabirix.5"> Facebook</a></p>
                <p><i class="fa fa-vk fa-lg mr-3"></i><a class="" href="https://vk.com/ruyatabirix">VKontakte</a></p>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="row my-0 mx-0 p-0 ">
    <div class="col-md-6 my-0 p-0 mx-auto">
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">{% trans "İletişim" %}</h1>
            </div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="row m-0 p-0"><h1>{{mesaj}}</h1></div>
            <div class="col-md-8 my-0 p-0 mx-auto">
                <form class="m-0 p-0 " action="{% url 'ruyatabirleri:iletisim' %}" method="post">
                    {% csrf_token %}
                    {% trans "İsminiz" as place_holder_isminiz %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="text" name="isim" placeholder="{{place_holder_isminiz}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.isim.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Soyisminiz" as place_holder_soyisminiz %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="text" name="soy_isim" placeholder="{{place_holder_soyisminiz}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.soy_isim.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "örnek@posta.com" as place_holder_ornek %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="email" name="eposta" placeholder="{{place_holder_ornek}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.eposta.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Lütfen eposta adresinizi doğrulamak için tekrar yazınız." as place_holder_ornek1 %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="email" name="eposta1" placeholder="{{place_holder_ornek1}}" required>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.eposta.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    {% trans "Mesajınızı Yazınız" as place_holder_mesaj %}
                    <div class="form-group mt-3">
                        <textarea class="form-control m-0" name="mesaj" placeholder="{{place_holder_mesaj}}" rows="3" required></textarea>
                        {% if form.errors %}
                        <p class="lead m-0 p-0 text-danger">{{form.mesaj.errors.as_text}}</p>
                        {% endif %}
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button class="btn-lg btn-dark border-0" type="submit" name="save">{% trans "GÖNDER" %}</button>
                    </div>
                </form>

            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">{% trans "Sosyal Medya" %}</h1>
            </div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-12">
                <p><i class="fa fa-home fa-lg mr-3"></i><a class="" href="{% url 'ruyatabirleri:anasayfa'%}">www.ruyatabirix.com</a></p>
                <p><i class="fa fa-envelope fa-lg mr-3"></i><a class="">ruyatabirix.com@gmail.com</a></p>
                <p><i class="fa fa-instagram fa-lg mr-3"></i><a class="" href="https://www.instagram.com/ruyatabirix/?hl=tr">instgram</a></p>
                <p><i class="fa fa-youtube fa-lg mr-3"></i><a class="" href="https://www.youtube.com/channel/UCpKlza2uiEx31xPGvIliVoQ/">Youtube</a></p>
                <p><i class="fa fa-facebook-f fa-lg mr-3"></i><a class="" href="https://www.facebook.com/ruya.tabirix.5"> Facebook</a></p>
                <p><i class="fa fa-vk fa-lg mr-3"></i><a class="" href="https://vk.com/ruyatabirix">VKontakte</a></p>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}