{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-5 mx-0 p-0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 m-0 p-0">
        <div class="row m-0 p-0">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h1 class="display-4 font-italic border-bottom box-shadow">SALATI TEFRİCİYE</h1>
                <p class="lead my-3 text-right" style="font-size: 30px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-sm-12">
                <p class="lead my-3 text-right" style="font-size: 30px;">
                    اللهـم صل صلاة كاملة &#1757<br>
                     وسلم سلاماً تاماً&#1757<br>
                     على سيدنا محمد الذي تنحل به العقد &#1757<br>
                     وتنفرج به الكرب &#1757<br>
                     وتقضى به الحوائج &#1757<br>
                     وتنال به الرغائب وحسن الخواتم &#1757<br>
                     ويستسقى الغمام بوجهه الكريم &#1757<br>
                     وعلى آله وصحبه في كل لمحة ونفس بعدد كل معلوم لك &#1757<br>
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-sm-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Türkçe Okunuşu:</h1>
                <p class="lead my-3">
                    Allahumme salli salâten kâmileten &#1757<br>
                    ve sellim selâmen tâmmen &#1757<br>
                    alâ-seyyidina Muhammedin ellezi tenhallü bihi’l ‘ukadu &#1757<br>
                    ve tenfericu bihi’l-kürabu &#1757<br>
                    ve tukdâ bihi’l-havâicu &#1757<br>
                    ve tünâlü bihi’r-rağâibu ve husnu’l-havâtimi &#1757<br>
                    ve yusteska’l-ğamâmu bi-vechihi’l-kerîmi &#1757<br>
                    ve ‘alâ âlihi ve sahbihi fî-külli lemhatin ve nefesin bi-‘adedi külli ma’lûmin lek &#1757<br>
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-sm-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Anlamı:</h1>
                <p class="lead my-3">
                    Allah’ım! Efendimiz Muhammed’e kâmil bir salât ile salât ve selâm eyle! &#1757<br>
                    O öyle bir zâttır ki, kendisiyle düğümler çözülür, sıkıntılar kolaylaşır, ihtiyaçlar hallolur,
                    arzulara kavuşulur ve güzel sonuçlara ulaşılır &#1757<br>
                    Kendisinin yüzü suyu hürmetine yağmur istenir &#1757<br>
                    Her göz açıp kapamada ve her nefeste tarafından bilinen varlıklar sayısınca
                    O’nun âline ve ashâbına da salât ve selâm olsun &#1757<br>
                </p>
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}

