{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="row m-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">Kuran-ı Kerim'deki Dua Ayetleri</h1>
        </div>
        <div class="row my-5 mx-0 px-5 pt-3 pb-5 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0 p-0"><h1 class="display-4 font-italic">El-Kasas, 24/88</h1></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0">
                        <p class="lead my-3 text-right" style="font-size:25px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
                        <p class="lead my-3 text-right" style="font-size:25px;"><bdo dir="rtl">رَبِّ اِنّٖى لِمَا اَنْزَلْتَ اِلَیَّ مِنْ خَيْرٍ فَقٖيرٌ</bdo> &#1757</p>
                    </div>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Okunuşu :</u> Rabbi inni lima enzelte ileyye min khayrin fakir</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Anlamı :</u> Rabbim! Bana göndereceğin her hayra muhtacım</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Yöntem :</u> Dileğimizin kabul olması için, her gün 134 kere okuyoruz ve dileğimizi diliyoruz.</p>
                </div>
            </div>
        </div>
         <div class="row my-5 mx-0 px-5 pt-3 pb-5 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0 p-0"><h1 class="display-4 font-italic">Enbiya, 21/83</h1></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0">
                        <p class="lead my-3 text-right" style="font-size:25px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
                        <p class="lead my-3 text-right" style="font-size:25px;"><bdo dir="rtl">رَبِّ اَنِّي مَسَّنِىَ الضُّرُّ وَاَنْتَ اَرْحَمُ الرَّاحِمِينَ</bdo> &#1757</p>
                    </div>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Okunuşu :</u> Rabbi, ennî messeniyed-durru ve ente erham’ur-rahimîn.</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Anlamı :</u> Ya Rabbi, bu hastalık gerçekten beni sarıverdi.
                        Sen ise merhametlilerin en merhametli olanısın.</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead"><u>Yöntem :</u> Şifa bulmak için, hastalığımız süresince okumalıyız.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

