{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-3 mx-0 p-0">
    <div class="col-md-8 my-0 mx-auto p-0">
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">AYETEL KÜRSİ</h1>
                <p class="lead my-3 text-right" style="font-size: 30px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <p class="lead my-3 text-right" style="font-size: 30px;">
                    اللَّهُ لَا إِلَهَ إِلَّا هُوَ الْحَيُّ الْقَيُّومُ لَا تَأْخُذُهُ سِنَةٌ وَلَا نَوْمٌ لَهُ مَا فِي السَّمَاوَاتِ وَمَا فِي الْأَرْضِ مَنْ ذَا الَّذِي يَشْفَعُ عِنْدَهُ إِلَّا بِإِذْنِهِ يَعْلَمُ مَا بَيْنَ أَيْدِيهِمْ وَمَا خَلْفَهُمْ وَلَا يُحِيطُونَ بِشَيْءٍ مِنْ عِلْمِهِ إِلَّا بِمَا شَاءَ وَسِعَ كُرْسِيُّهُ السَّمَاوَاتِ وَالْأَرْضَ وَلَا يَئُودُهُ حِفْظُهُمَا وَهُوَ الْعَلِيُّ الْعَظِيم &#1757ُ<br>
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Türkçe Okunuşu:</h1>
                <p class="lead my-3 text-justify">
                    Allahû la ilahe illa hûvel hayyûl kayyum, la te'huzûhu sinetûv vela nevm, lehu ma fis semavati ve ma fil ard, men zellezi yeşfeu indehu illa bi iznih, ya'lemû ma beyne eydihim ve ma halfehûm, ve la yûhıytune bi şey'im min ilmihi illa bi ma şa', vesia kûrsiyyûhûs semavati vel ard, ve la yeudûhu hıfzuhûma ve hûvel aliyyûl azim &#1757<br>
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Anlamı:</h1>
                <p class="lead my-3 text-justify">
                    Allah'tan başka hiçbir ilâh yoktur.
                    O daima diridir (hayydır), bütün varlığın idaresini yürüten (kayyum)dir.
                    O'nu ne gaflet basar, ne de uyku.
                    Göklerde ve yerde ne varsa hepsi O'nundur.
                    İzni olmadan huzurunda şefaat edecek olan kimdir?
                    O, kullarının önlerinde ve arkalarında ne varsa hepsini bilir.
                    Onlar ise, O'nun dilediği kadarından başka ilminden hiç bir şey kavrayamazlar.
                    O'nun kürsisi, bütün gökleri ve yeri kucaklamıştır.
                    Onların her ikisini de görüp gözetmek O'na bir ağırlık vermez.
                    O çok yücedir, çok büyüktür.&#1757<br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

