{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">YASİN-İ ŞERİF</h1>
        <p class="lead my-3 text-justify">
            Kur'an-ı Kerim'in kalbi olarak nitelendirilen Yasin Suresi,
            Mekke dönemde nazil olan ve toplamda 83 ayetten oluşan mukaddes bir suredir.<br>
            <br>
            Yasin Suresi'nde; Peygamberimiz Hz.Muhammed (S.A.V)'in peygamberliğini yalanlayan ve varlığını inkar eden
            Kureyş kafirlerinin Cenab-ı Hakk tarafından karşılaşacakları her türlü azap ve felaketlerden
            söz edilmektedir.<br>
            <br>
            Yasin Suresi'ni ihlas ve samimiyetle, anlamını idrak ederek okuyan müminlerin dünyevi ve uhrevi
            her türlü hacetleri hasıl olacağı, kabir hayatında olduğu gibi gerek dünyada gerekse ahirette
            mutluluğu ve saadeti yaşayacakları, tüm sıkıntıların, kötülüklerin ve korkuların def edileceği
            vurgulanmıştır.<br>
            <br>
        </p>
    </div>
</div>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Yasin Süresi ile İlgili Hadisi Şerifler</h1>
        <p class="lead my-3 text-justify">
            1) “Kur’an’ın kalbi Yasin-i Şerif’tir. Kim onu Allah rızasını talep ederek ve
            onu ahiret sevabı için okursa, Allah onun günahlarını mağriyet eder.
            Onu ölülerinizin üzerine okuyunuz.” (Nesei, Beyhaki)<br>
            2) “Her gece Yasin-i Şerif’i okumaya devam eden kimse, vefat ederken şehit olarak vefat eder.” (Taberani)<br>
            3) “Her şeyin bir kalbi vardır. Kuran’ın kalbi de Yasin dir.
            Her kim Yasin-i Şerif’i okur ve onun içindekilere göre yaşarsa,
            Allah ona Kuran-ı Kerim’i on kere okumuş kadar sevap yazar.”  (Tirmizi)<br>
            4) “Ölüleriniz için Yasin-i Şerif’i okuyun.” (Ebu Davud)<br>
            5) “Kim bir gecede, Allah rızası için Yasin’i okursa günahları affolunur.” (Beyhai, Tirmizi)<br>
            <br>
        </p>
    </div>
</div>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Yasin Süresinin Faziletleri</h1>
        <p class="lead my-3 text-justify">
            Yasin Suresi okunduğunda melekler gökyüzünden inerek onu dinlerler.<br>
            Yasin Suresini geceleri okuyana Kur’an’ın tamamını yedi kere hatim etmiş kadar sevap yazılır.<br>
            Yasin okunduğunda hayır kapıları açılır ve hayırlar bu kişiyi bulur.<br>
            Yasin Suresi okumaya devam eden ve vefat eden kişi şehit olarak vefat eder.<br>
            Rızkı dar olanlar ve bereket isteyenler Yasin Suresi’ni bol bol okumalıdır.<br>
            Yasin Suresini yazarak üstünde taşımak büyük bir izzet ve ikram görmeyi sağlar.<br>
            Yasin Suresi’ni dinlemek sadaka vermiş kadar sevaptır.<br>
            Cuma gecesi Yasin Suresi okuyan müminin ertesi sabaha günahları affedilir.<br>
            Yasin Suresi’nin yazılıp suya atılması ile oluşan sudan içen kişinin ne hastalığı varsa şifa bulur.
            <br>
        </p>
    </div>
</div>
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">Yöntem</h1>
        <p class="lead my-3 text-justify">
            Yasin süresinde yedi yerde "mübin" kelimesi vardır. Bunlar: 12, 17, 24, 47, 60, 69 ve 77. ayetlerdir.
            Mubin duası adıyla bilinen bu dua bir çeşit hacet duasıdır.
            Dünyevi ve uhrevi her türlü dilek ve hacetlerin yerine gelmesi,
            sıkıntı, keder ve her türlü elemlerin gitmesi için abdestli bir şekilde niyet yapıldıktan sonra
            Yasin suresi okunmaya başlanır.
            "Mübin" kelimesiyle biten ilk ayete kadar okunur.
            Hemen arkasından mübin duası okunur.
            Sonra tekrar surenin başından başlanır.
            İkinci mübin’e kadar okunur, ve tekrar mübin duası okunur.
            Bu şekilde en son Mübinden sonra da mübin duası okunur.
            Yasin süresi tamamlanır ve dilekler Allah’a arz edilir.
            <br>
        </p>
        <p class="lead"><a href="{% url 'ruyatabirleri:yasin_arapca'%}" class="text-white font-weight-bold">Yasin Süresi için Tıklayınız...</a></p>
        <p class="lead mb-0"><a href="{% url 'ruyatabirleri:mubin'%}" class="text-white font-weight-bold">Mübin Duası için Tıklayınız...</a></p>
    </div>
</div>
{% endblock %}