{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-3 mx-0 p-0">
    <div class="col-md-10 my-0 mx-auto p-0">
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">YASİN SÜRESİ</h1>
                <p class="lead my-3 text-center font-weight-bold" style="font-size: 30px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12 m-0 p-0">
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl"> يس</bdo> (1) </div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَالْقُرْآنِ الْحَكِيمِ</bdo>(2)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّكَ لَمِنَ الْمُرْسَلِينَ</bdo>(3)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">عَلَى صِرَاطٍ مُّسْتَقِيمٍ</bdo>(4)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">تَنزِيلَ الْعَزِيزِ الرَّحِيمِ</bdo>(5)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لِتُنذِرَ قَوْمًا مَّا أُنذِرَ آبَاؤُهُمْ فَهُمْ غَافِلُونَ</bdo>(6)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لَقَدْ حَقَّ الْقَوْلُ عَلَى أَكْثَرِهِمْ فَهُمْ لَا يُؤْمِنُونَ</bdo>(7)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّا جَعَلْنَا فِي أَعْنَاقِهِمْ أَغْلَالًا فَهِيَ إِلَى الْأَذْقَانِ فَهُم مُّقْمَحُونَ</bdo>(8)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَجَعَلْنَا مِن بَيْنِ أَيْدِيهِمْ سَدًّا وَمِنْ خَلْفِهِمْ سَدًّا فَأَغْشَيْنَاهُمْ فَهُمْ لَا يُبْصِرُونَ</bdo>(9)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَسَوَاءٌ عَلَيْهِمْ أَأَنذَرْتَهُمْ أَمْ لَمْ تُنذِرْهُمْ لَا يُؤْمِنُونَ</bdo>(10)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّمَا تُنذِرُ مَنِ اتَّبَعَ الذِّكْرَ وَخَشِيَ الرَّحْمَنَ بِالْغَيْبِ فَبَشِّرْهُ بِمَغْفِرَةٍ وَأَجْرٍ كَرِيمٍ</bdo>(11)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّا نَحْنُ نُحْيِي الْمَوْتَى وَنَكْتُبُ مَا قَدَّمُوا وَآثَارَهُمْ وَكُلَّ شَيْءٍ أَحْصَيْنَاهُ فِي إِمَامٍ مُّبِينٍ</bdo>(12)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَاضْرِبْ لَهُم مَّثَلًا أَصْحَابَ الْقَرْيَةِ إِذْ جَاءَهَا الْمُرْسَلُونَ</bdo>(13)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِذْ أَرْسَلْنَا إِلَيْهِمُ اثْنَيْنِ فَكَذَّبُوهُمَا فَعَزَّزْنَا بِثَالِثٍ فَقَالُوا إِنَّا إِلَيْكُم مُّرْسَلُونَ</bdo>(14)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قَالُوا مَا أَنتُمْ إِلَّا بَشَرٌ مِّثْلُنَا وَمَا أَنزَلَ الرَّحْمَنُ مِن شَيْءٍ إِنْ أَنتُمْ إِلَّا تَكْذِبُونَ</bdo>(15)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قَالُوا رَبُّنَا يَعْلَمُ إِنَّا إِلَيْكُمْ لَمُرْسَلُونَ</bdo>(16)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَا عَلَيْنَا إِلَّا الْبَلَاغُ الْمُبِينُ</bdo>(17)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قَالُوا إِنَّا تَطَيَّرْنَا بِكُمْ لَئِن لَّمْ تَنتَهُوا لَنَرْجُمَنَّكُمْ وَلَيَمَسَّنَّكُم مِّنَّا عَذَابٌ أَلِيمٌ</bdo>(18)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قَالُوا طَائِرُكُم مَّعَكُمْ أَئِن ذُكِّرْتُم بَلْ أَنتُمْ قَوْمٌ مُّسْرِفُونَ</bdo>(19)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَجَاءَ مِنْ أَقْصَى الْمَدِينَةِ رَجُلٌ يَسْعَى قَالَ يَا قَوْمِ اتَّبِعُوا الْمُرْسَلِينَ</bdo>(20)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">اتَّبِعُوا مَن لَّا يَسْأَلُكُمْ أَجْرًا وَهُم مُّهْتَدُونَ</bdo>(21)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَا لِيَ لَا أَعْبُدُ الَّذِي فَطَرَنِي وَإِلَيْهِ تُرْجَعُونَ</bdo>(22)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَأَتَّخِذُ مِن دُونِهِ آلِهَةً إِن يُرِدْنِ الرَّحْمَنُ بِضُرٍّ لَّا تُغْنِ عَنِّي شَفَاعَتُهُمْ شَيْئًا وَلَا يُنقِذُونِ</bdo>(23)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنِّي إِذًا لَّفِي ضَلَالٍ مُّبِينٍ</bdo>(24)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنِّي آمَنتُ بِرَبِّكُمْ فَاسْمَعُونِ</bdo>(25)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قِيلَ ادْخُلِ الْجَنَّةَ قَالَ يَا لَيْتَ قَوْمِي يَعْلَمُونَ</bdo>(26)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">بِمَا غَفَرَ لِي رَبِّي وَجَعَلَنِي مِنَ الْمُكْرَمِينَ</bdo>(27)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَا أَنزَلْنَا عَلَى قَوْمِهِ مِن بَعْدِهِ مِن جُندٍ مِّنَ السَّمَاءِ وَمَا كُنَّا مُنزِلِينَ</bdo>(28)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِن كَانَتْ إِلَّا صَيْحَةً وَاحِدَةً فَإِذَا هُمْ خَامِدُونَ</bdo>(29)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">يَا حَسْرَةً عَلَى الْعِبَادِ مَا يَأْتِيهِم مِّن رَّسُولٍ إِلَّا كَانُوا بِهِ يَسْتَهْزِئُونَ</bdo>(30)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَلَمْ يَرَوْا كَمْ أَهْلَكْنَا قَبْلَهُم مِّنَ الْقُرُونِ أَنَّهُمْ إِلَيْهِمْ لَا يَرْجِعُونَ</bdo>(31)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَإِن كُلٌّ لَّمَّا جَمِيعٌ لَّدَيْنَا مُحْضَرُونَ</bdo>(32)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَآيَةٌ لَّهُمُ الْأَرْضُ الْمَيْتَةُ أَحْيَيْنَاهَا وَأَخْرَجْنَا مِنْهَا حَبًّا فَمِنْهُ يَأْكُلُونَ</bdo>(33)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَجَعَلْنَا فِيهَا جَنَّاتٍ مِّن نَّخِيلٍ وَأَعْنَابٍ وَفَجَّرْنَا فِيهَا مِنَ الْعُيُونِ</bdo>(34)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لِيَأْكُلُوا مِن ثَمَرِهِ وَمَا عَمِلَتْهُ أَيْدِيهِمْ أَفَلَا يَشْكُرُونَ</bdo>(35)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">سُبْحَانَ الَّذِي خَلَقَ الْأَزْوَاجَ كُلَّهَا مِمَّا تُنبِتُ الْأَرْضُ وَمِنْ أَنفُسِهِمْ وَمِمَّا لَا يَعْلَمُونَ</bdo>(36)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَآيَةٌ لَّهُمُ اللَّيْلُ نَسْلَخُ مِنْهُ النَّهَارَ فَإِذَا هُم مُّظْلِمُونَ</bdo>(37)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَالشَّمْسُ تَجْرِي لِمُسْتَقَرٍّ لَّهَا ذَلِكَ تَقْدِيرُ الْعَزِيزِ الْعَلِيمِ</bdo>(38)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَالْقَمَرَ قَدَّرْنَاهُ مَنَازِلَ حَتَّى عَادَ كَالْعُرْجُونِ الْقَدِيمِ</bdo>(39)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لَا الشَّمْسُ يَنبَغِي لَهَا أَن تُدْرِكَ الْقَمَرَ وَلَا اللَّيْلُ سَابِقُ النَّهَارِ وَكُلٌّ فِي فَلَكٍ يَسْبَحُونَ</bdo>(40)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَآيَةٌ لَّهُمْ أَنَّا حَمَلْنَا ذُرِّيَّتَهُمْ فِي الْفُلْكِ الْمَشْحُونِ</bdo>(41)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَخَلَقْنَا لَهُم مِّن مِّثْلِهِ مَا يَرْكَبُونَ</bdo>(42)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَإِن نَّشَأْ نُغْرِقْهُمْ فَلَا صَرِيخَ لَهُمْ وَلَا هُمْ يُنقَذُونَ</bdo>(43)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِلَّا رَحْمَةً مِّنَّا وَمَتَاعًا إِلَى حِينٍ</bdo>(44)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَإِذَا قِيلَ لَهُمُ اتَّقُوا مَا بَيْنَ أَيْدِيكُمْ وَمَا خَلْفَكُمْ لَعَلَّكُمْ تُرْحَمُونَ</bdo>(45)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَا تَأْتِيهِم مِّنْ آيَةٍ مِّنْ آيَاتِ رَبِّهِمْ إِلَّا كَانُوا عَنْهَا مُعْرِضِينَ</bdo>(46)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَإِذَا قِيلَ لَهُمْ أَنفِقُوا مِمَّا رَزَقَكُمُ اللَّهُ قَالَ الَّذِينَ كَفَرُوا لِلَّذِينَ آمَنُوا أَنُطْعِمُ مَن لَّوْ يَشَاءُ اللَّهُ أَطْعَمَهُ إِنْ أَنتُمْ إِلَّا فِي ضَلَالٍ مُّبِينٍ</bdo>(47)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَيَقُولُونَ مَتَى هَذَا الْوَعْدُ إِن كُنتُمْ صَادِقِينَ</bdo>(48)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">مَا يَنظُرُونَ إِلَّا صَيْحَةً وَاحِدَةً تَأْخُذُهُمْ وَهُمْ يَخِصِّمُونَ</bdo>(49)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">فَلَا يَسْتَطِيعُونَ تَوْصِيَةً وَلَا إِلَى أَهْلِهِمْ يَرْجِعُونَ</bdo>(50)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَنُفِخَ فِي الصُّورِ فَإِذَا هُم مِّنَ الْأَجْدَاثِ إِلَى رَبِّهِمْ يَنسِلُونَ</bdo>(51)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قَالُوا يَا وَيْلَنَا مَن بَعَثَنَا مِن مَّرْقَدِنَا هَذَا مَا وَعَدَ الرَّحْمَنُ وَصَدَقَ الْمُرْسَلُونَ</bdo>(52)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِن كَانَتْ إِلَّا صَيْحَةً وَاحِدَةً فَإِذَا هُمْ جَمِيعٌ لَّدَيْنَا مُحْضَرُونَ</bdo>(53)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">فَالْيَوْمَ لَا تُظْلَمُ نَفْسٌ شَيْئًا وَلَا تُجْزَوْنَ إِلَّا مَا كُنتُمْ تَعْمَلُونَ</bdo>(54)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّ أَصْحَابَ الْجَنَّةِ الْيَوْمَ فِي شُغُلٍ فَاكِهُونَ</bdo>(55)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">هُمْ وَأَزْوَاجُهُمْ فِي ظِلَالٍ عَلَى الْأَرَائِكِ مُتَّكِئُونَ</bdo>(56)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لَهُمْ فِيهَا فَاكِهَةٌ وَلَهُم مَّا يَدَّعُونَ</bdo>(57)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">سَلَامٌ قَوْلًا مِّن رَّبٍّ رَّحِيمٍ</bdo>(58)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَامْتَازُوا الْيَوْمَ أَيُّهَا الْمُجْرِمُونَ</bdo>(59)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَلَمْ أَعْهَدْ إِلَيْكُمْ يَا بَنِي آدَمَ أَن لَّا تَعْبُدُوا الشَّيْطَانَ إِنَّهُ لَكُمْ عَدُوٌّ مُّبِينٌ</bdo>(60)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَأَنِ اعْبُدُونِي هَذَا صِرَاطٌ مُّسْتَقِيمٌ</bdo>(61)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَلَقَدْ أَضَلَّ مِنكُمْ جِبِلًّا كَثِيرًا أَفَلَمْ تَكُونُوا تَعْقِلُونَ</bdo>(62)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">هَذِهِ جَهَنَّمُ الَّتِي كُنتُمْ تُوعَدُونَ</bdo>(63)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">اصْلَوْهَا الْيَوْمَ بِمَا كُنتُمْ تَكْفُرُونَ</bdo>(64)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">الْيَوْمَ نَخْتِمُ عَلَى أَفْوَاهِهِمْ وَتُكَلِّمُنَا أَيْدِيهِمْ وَتَشْهَدُ أَرْجُلُهُم بِمَا كَانُوا يَكْسِبُونَ</bdo>(65)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَلَوْ نَشَاءُ لَطَمَسْنَا عَلَى أَعْيُنِهِمْ فَاسْتَبَقُوا الصِّرَاطَ فَأَنَّى يُبْصِرُونَ</bdo>(66)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَلَوْ نَشَاءُ لَمَسَخْنَاهُمْ عَلَى مَكَانَتِهِمْ فَمَا اسْتَطَاعُوا مُضِيًّا وَلَا يَرْجِعُونَ</bdo>(67)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَن نُّعَمِّرْهُ نُنَكِّسْهُ فِي الْخَلْقِ أَفَلَا يَعْقِلُونَ</bdo>(68)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَمَا عَلَّمْنَاهُ الشِّعْرَ وَمَا يَنبَغِي لَهُ إِنْ هُوَ إِلَّا ذِكْرٌ وَقُرْآنٌ مُّبِينٌ</bdo>(69)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لِّيُنذِرَ مَن كَانَ حَيًّا وَيَحِقَّ الْقَوْلُ عَلَى الْكَافِرِينَ</bdo>(70)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَوَلَمْ يَرَوْا أَنَّا خَلَقْنَا لَهُم مِّمَّا عَمِلَتْ أَيْدِينَا أَنْعَامًا فَهُمْ لَهَا مَالِكُونَ</bdo>(71)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَذَلَّلْنَاهَا لَهُمْ فَمِنْهَا رَكُوبُهُمْ وَمِنْهَا يَأْكُلُونَ</bdo>(72)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَلَهُمْ فِيهَا مَنَافِعُ وَمَشَارِبُ أَفَلَا يَشْكُرُونَ</bdo>(73)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَاتَّخَذُوا مِن دُونِ اللَّهِ آلِهَةً لَّعَلَّهُمْ يُنصَرُونَ</bdo>(74)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">لَا يَسْتَطِيعُونَ نَصْرَهُمْ وَهُمْ لَهُمْ جُندٌ مُّحْضَرُونَ</bdo>(75)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">فَلَا يَحْزُنكَ قَوْلُهُمْ إِنَّا نَعْلَمُ مَا يُسِرُّونَ وَمَا يُعْلِنُونَ</bdo>(76)</div>
                <div  class="m-1 px-1 py-3 bg-success text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَوَلَمْ يَرَ الْإِنسَانُ أَنَّا خَلَقْنَاهُ مِن نُّطْفَةٍ فَإِذَا هُوَ خَصِيمٌ مُّبِينٌ</bdo>(77)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">وَضَرَبَ لَنَا مَثَلًا وَنَسِيَ خَلْقَهُ قَالَ مَن يُحْيِي الْعِظَامَ وَهِيَ رَمِيمٌ</bdo>(78)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">قُلْ يُحْيِيهَا الَّذِي أَنشَأَهَا أَوَّلَ مَرَّةٍ وَهُوَ بِكُلِّ خَلْقٍ عَلِيمٌ</bdo>(79)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">الَّذِي جَعَلَ لَكُم مِّنَ الشَّجَرِ الْأَخْضَرِ نَارًا فَإِذَا أَنتُم مِّنْهُ تُوقِدُونَ</bdo>(80)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">أَوَلَيْسَ الَّذِي خَلَقَ السَّمَاوَاتِ وَالْأَرْضَ بِقَادِرٍ عَلَى أَن يَخْلُقَ مِثْلَهُم بَلَى وَهُوَ الْخَلَّاقُ الْعَلِيمُ</bdo>(81)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">إِنَّمَا أَمْرُهُ إِذَا أَرَادَ شَيْئًا أَن يَقُولَ لَهُ كُن فَيَكُونُ</bdo>(82)</div>
                <div  class="m-1 px-1 py-3 text-right float-right h4" style="line-height: 2;" ><bdo dir="rtl">فَسُبْحَانَ الَّذِي بِيَدِهِ مَلَكُوتُ كُلِّ شَيْءٍ وَإِلَيْهِ تُرْجَعُونَ</bdo>(83)</div>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Türkçe Okunuşu:</h1>
                <p class="lead my-3 text-center font-weight-bold" style="font-size: 25px;">Bismillahirrahmanirrahim</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12 m-0 p-0">
                <div  class="m-1 px-1 py-3 text-left float-left h4" >(1) Yâsîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(2) Vel Kur’ân-il hakîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(3) İnneke leminel mürselîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(4) Alâ sırâtın müstakîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(5) Tenzîlel azîzirrahîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(6) Litünzira kavmen mâ ünzire âbâühüm fehüm gâfilûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(7) Lekad hakkalkavlü alâ ekserihim fehüm lâ yü’minûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(8) İnnâ cealnâ fî a’nâkihim aglâlen fehiye ilel ezkâni fehüm mukmehûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(9) Ve cealnâ min beyni eydîhim sedden ve min halfihim sedden feağşeynâhüm fehüm lâ yübsirûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(10) Ve sevâün aleyhim eenzertehüm em lem tünzirhüm lâ yü’minûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(11) innemâ tünzirü menittebazzikra ve haşiyerrahmâne bilgaybi febeşşirhü bimağfiretiv ve ecrin kerîm
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(12) İnnâ nahnü nuhyil mevtâ ve nektübü mâ kaddemû ve âsârehüm ve külle şey’in ahsaynâhü fî imâmin mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(13) Vadrib lehüm meselen ashâbel karyeh. İz câehel mürselûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(14) İz erselnâ ileyhi müsneyni fekezzebûhümâ fe azzeznâ bisâlisin fekâlû innâ ileyküm mürselûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(15) Kâlû mâ entüm illâ beşerün mislünâ vemâ enzelerrahmânü min şey’in in entüm illâ tekzibûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(16) Kâlû rabbünâ ya’lemü innâ ileyküm lemürselûn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(17) Vemâ aleynâ illel belâgul mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(18) Kâlû innâ tetayyernâ biküm lein lem tentehû le nercümenneküm vele yemessenneküm minnâ azâbün elîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(19) Kâlû tâirüküm meaküm ein zukkirtum bel entüm kavmün müsrifûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(20) Vecâe min aksalmedineti racülün yes’â kâle yâ kavmittebiul mürselîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(21) İttebiû men lâ yeselüküm ecran ve hüm muhtedûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(22) Vemâ liye lâ a’büdüllezî fetarenî ve ileyhi türceûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(23) Eettehizü min dûnihî âliheten in yüridnirrahmânü bi-durrin lâ tuğni annî şefâatühüm şey’en velâ yünkizûn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(24) İnnî izen lefî dalâlin mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(25) İnnî âmentü birabbiküm fesmeûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(26) Kîledhulil cennete, kâle yâleyte kavmî yâ’lemûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(27) Bimâ gaferelî rabbî ve cealenî minel mükremîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(28) Vemâ enzelnâ alâ kavmihî min badihî min cündin minessemâi vemâ künnâ münzilîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(29) İn kânet illâ sayhaten vâhideten feizâhüm hâmidûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(30) Yâ hasreten alel ibâdi mâ ye’tîhim min resûlin illâ kânûbihî yestehziûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(31) Elem yerev kem ehleknâ kablehüm minel kurûni ennehüm ileyhim lâ yerciûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(32) Ve in küllün lemmâ cemî’un ledeynâ muhdarûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(33) Ve âyetün lehümül ardul meytetü ahyeynâhâ ve ahrecnâ minhâ habben fe minhü ye’külûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(34) Ve cealnâ fîhâ cennâtin min nahîliv ve a’nâb ve feccernâ fîha minel uyûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(35) Liye’külû min semerihî vemâ amilethü eydîhim efelâ yeşkürûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(36) Sübhânnellezî halekal ezvâce küllehâ mimmâ tünbitül ardu ve min enfüsihim ve mimmâ lâ ya’lemûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(37) Ve âyetün lehümülleyü neslehu minhünnehâre fe izâhüm muzlimûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(38) Veşşemsü tecrî limüstekarrin lehâ zâlike takdîrul azîzil alîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(39) Velkamere kaddernâhü menâzile hattâ âdekel urcûnil kadîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(40) Leşşemsû yenbegî lehâ en tüdrikel kamere velelleylü sâbikunnehâr ve küllün fî felekin yesbehûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(41) Ve âyetül lehüm ennâ hamelnâ zürriyyetehüm fil fülkil meşhûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(42) Ve halâknâ lehüm min mislihî mâ yarkebûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(43) Ve in neşe’ nugrıkhüm felâ sarîha lehüm velâhüm yünkazûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(44) İllâ rahmeten minnâ ve metâan ilâ hîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(45) Ve izâ kîle lehümüttekû mâ beyne eydîküm vemâ halfeküm lealleküm türhamûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(46) Vemâ te’tîhim min âyetin min âyâti rabbihim illâ kânû anhâ mu’ridîn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(47) Ve izâ kîle lehüm enfikû mim mâ rezakakümüllâhü, kâlellezîne keferû, lillezîne âmenû enut’ımü menlev yeşâullâhü et’ameh, in entüm illâ fî dalâlin mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(48) Ve yekûlûne metâ hâzel va’dü in küntüm sâdikîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(49) Mâ yenzurûne illâ sayhaten vâhideten te’huzühüm vehüm yehissimûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(50) Felâ yestetîûne tavsıyeten velâ ilâ ehlihim yerciûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(51) Ve nüfiha fîssûri feizâhüm minel ecdâsi ilâ rabbihim yensilûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(52) Kâlû yâ veylenâ men beasena min merkadina hâzâ mâ veaderrahmânü ve sadekal mürselûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(53) İn kânet illâ sayhaten vâhideten feizâ hüm cemî’un ledeynâ muhdarûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(54) Felyevme lâ tuzlemu nefsün şeyen velâ tüczevne illâ mâ küntüm tâ’melûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(55) İnne ashâbel cennetil yevme fîşüğulin fâkihûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(56) Hüm ve ezvâcühüm fî zılâlin alel erâiki müttekiûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(57) Lehüm fîhâ fâkihetün ve lehüm mâ yeddeûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(58) Selâmün kavlen min rabbin rahîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(59) Vemtâzül yevme eyyühel mücrimûn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(60) Elem a’hed ileyküm yâ benî âdeme en lâ tâ’buduşşeytân innehû leküm adüvvün mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(61) Ve enî’budûnî, hâzâ sırâtun müstekîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(62) Ve lekad edalle minküm cibillen kesîran efelem tekûnû ta’kılûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(63) Hâzihî cehennemülletî küntüm tûadûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(64) lslevhel yevme bimâ küntüm tekfürûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(65) Elyevme nahtimü alâ efvâhihim ve tükellimünâ eydîhim ve teşhedü ercülühüm bimâ kânû yeksibûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(66) Velev neşâü letamesnâ alâ a’yunihim festebekus sırâta fe ennâ yübsirûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(67) Velev neşâü lemesahnâhüm alâ mekânetihim femestetâû mudıyyev velâ yerciûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(68) Ve men nüammirhü nünekkishü filhalkı, efelâ ya’kilûn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(69) Ve mâ allemnâhüşşi’ra vemâ yenbegî leh in hüve illâ zikrün ve kur’ânün mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(70) Liyünzira men kâne hayyen ve yehıkkal kavlü alel kâfirîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(71) Evelem yerav ennâ halaknâ lehüm mimmâ amilet eydîna en âmen fehüm lehâ mâlikûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(72) Ve zellelnâhâ lehüm feminhâ rekûbühüm ve minhâ ye’külûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(73) Ve lehüm fîhâ menâfiu ve meşâribü efelâ yeşkürûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(74) Vettehazû min dûnillâhi âliheten leallehüm yünsarûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(75) Lâ yestetîûne nasrahüm ve hüm lehüm cündün muhdarûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(76) Felâ yahzünke kavlühüm. İnnâ na’lemü mâ yüsirrûne vemâ yu’linûn
                </div><div  class="m-1 px-1 py-3 bg-success text-left float-left h4" >(77) Evelem yeral insânü ennâ halaknâhü min nutfetin feizâ hüve hasîmün mübîn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(78) Ve darebe lenâ meselen ve nesiye halkah kale men yuhyil izâme ve hiye ramîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(79) Kul yuhyihellezî enşeehâ evvele merrah ve hüve bikülli halkın alîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(80) Ellezî ceale leküm mineşşeceril ahdari nâren feizâ entüm minhü tûkidûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(81) Eveleysellezî halakassemâvati vel arda bikâdirin alâ ey yahlüka mislehüm, belâ ve hüvel hallâkul alîm
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(82) İnnema emrühû izâ erâde şey’en en yekûle lehû kün, feyekûn
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(83) Fesübhanellezî biyedihî melekûtü külli şey’in ve ileyhi türceûn.
                </div>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Anlamı:</h1>
                <p class="lead my-3 font-weight-bold">(Elmalılı M. Hamdi YAZIR)</p>
                <p class="lead my-3 text-center font-weight-bold" style="font-size: 25px;">Rahmân ve Rahîm olan Allah'ın ismiyle.</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12 m-0 p-0">
                <div  class="m-1 px-1 py-3 text-left float-left h4" >(1)Yasin
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(2) Hikmetli Ku'ran'ın hakkı için!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(3) Emin ol ki sen, o elçilikle gönderilen peygamberlerdensin!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(4) Bir dosdoğru yol üzerindesin.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(5) Güçlü ve çok merhametli Allah'ın peyderpey indirdiği vahyi ile.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(6) Babaları uyarılmamış olup gaflet içinde olan bir topluluğu uyarasın (vehameti haber veresin) diye.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(7) Andolsun ki, pek çoklarına karşı söz hak olmuştur da artık onlar imana gelmezler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(8) Çünkü Biz, onların boyunlarına kelepçeler geçirmişiz de onlar, çenelerine dayanmıştır da burunları yukarı, gözleri aşağı somurtmaktadırlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(9) Hem önlerinden bir set, hem arkalarından bir set çekmişiz ve kendilerini sarmışızdır; artık baksalar da görmezler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(10) Onları uyarsan da uyarmasan da farketmez, inanmazlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(11) Sen ancak Kur'an'a uyan ve Rahman'dan gıyabında saygı besleyen kimseyi sakındırırsın; İşte onu, hem bir bağışlama hem de değerli bir mükafatla müjdele!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(12) Gerçekten Biz Biziz, ölüleri diriltiriz; önden gönderdiklerim ve bıraktıktan eserleri kitaba geçiririz. Zaten herşeyi açık bir kütükte "İmam-ı Mübin" de de ihsa (sayıp tesbit) etmişizdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(13) Ve onlara o şehir halkını örnek ver. Hani oraya o gönderilen elçiler varmıştı.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(14) Hani onlara o iki elçiyi göndermiştik de onları yalanladılar; Biz de bir üçüncüsüyle onları güçlendirdik, varıp: "Haberiniz olsun, biz sizlere gönderilmiş elçileriz." dediler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(15) "Siz bizim gibi insandan başka birşey değilsiniz, hem Rahman hiç birşey indirmedi; siz sırf yalan söylüyorsunuz!" dediler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(16) Elçiler: " Rabbimiz biliyor ki, biz gerçekten size gönderilmiş elçileriz.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(17) Açık bir tebliğden ötesi ise bizim üstümüze (vazife) değildir!" dediler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(18) Onlar: "Doğrusu, biz sizi uğursuzluk nedeni saydık. Yemin ederiz ki, vazgeçmezseniz sizi hiç tınmadan taşlarız ve kesinlikle size bizden acıklı bir azap dokunur." dediler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(19) Elçiler: "Sizin uğursuzluk kuşunuz beraberinizdedir. Size öğüt verilse de öyle mi? Doğrusu siz israfı adet etmiş bir topluluksunuz." dediler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(20) o sırada şehrin ta ucundan bir adam koşarak geldi ve dedi ki: "Ey hemşerilerim, uyun o gönderilen elçilere!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(21) Uyun sizden bir ücret istemeyen o zatlara ki, onlar doğru yola ermişlerdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(22) Hem neden kulluk etmeyeyim ben o beni yaratana, hep de döndürülüp O'na götürüleceksiniz!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(23) Ben hiç O'ndan başka tanrılar mı edinirim? Eğer o Rahman, bana bir keder irade buyurursa, onların şefaati benden yana hiçbir şeye yaramaz ve beni kurtaramazlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(24) Şüphesiz ben, o takdirde açık bir sapıklık içindeyimdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(25) Haberiniz olsun ki, ben Rabbinize iman getirdim, gelin dinleyin beni!"
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(26) Denildi ki: "Haydi. gir cennete!" O: "Ah ne olurdu, kavmim bilseydi
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(27) Rabbimin beni bağışlamasın) ve beni ikram olunan kullarından kıldığım."
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(28) Arkasından kavminin üzerine gökten bir ordu indirmedik, indirecek de değildik.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(29) O sadece bir sayha (gürültü) oldu; hemen sönüverdiler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(30) Yazıklar olsun o kullara ki kendilerine gelen her peygamberle mutlaka alay ediyorlardı.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(31) Baksalar ya kendilerinden önce nice nesiller helak etmişiz. Onlar, hiç onlara dönüp gelmiyorlar (dünyaya bir daha dönmüyorlar).
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(32) Ancak hepsi toplanıp, bizim huzurumuza celbedilmişlerdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(33) -Hem ölü toprak onlara bir delildir. Biz ona hayat verdik ve onda taneler çıkardık da ondan yiyip duruyorlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(34) Orada cennetler yaptık; hurma bahçeleri, üzüm bağları (daha neler) neler! İçlerinde pınarlar akıttık.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(35) Ürününden ve kendi elleriyle elde ettikleri mamüllerinden yesinler diye; hala şükretmeyecekler mi?
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(36) Yüce ve münezzehtir o ki, herşeyden çiftler meydana getiriyor; yerin bitirdiklerinden, kendilerinden ve daha bilmeyecekleri neler, nelerden!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(37) Gece de onlara bir delildir. Ondan gündüzü soyarız (çekip alırız), bir de bakarlar ki, karanlığa dalmışlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(38) Güneş de, (bir delildir ki) kendisine mahsus bir karargah için akıp gidiyor, işte bu, güçlü ve herşeyi bilen (Allah) ın takdiridir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(39) Aya da; ona da bir takım menziller tayin etmişizdir, nihayet dönmüş (dolanmış) eğri bir hurma dalı gibi olmuştur.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(40) Ne güneşin Aya (yetişip) çatması kendisine (çarpması) yaraşır, ne de gece gündüzü geçer; herbiri birer felekte (yörüngede) yüzerler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(41) Onlara bir delil de o dolu gemide zürriyetlerini taşımamız;
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(42) ve kendilerine o gibisinden binecek şeyler yaratmamızdır.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(43) Ödersek onları (suda) boğarız da o zaman onlara ne feryatçı vardır ne de onlar kurtarılırlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(44) Ancak tarafımızdan bir rahmet ve bir zamana kadar yaşatmak başka.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(45) Durum böyle iken onlara : "Önünüzdekini ve arkanızdakini gözetip korunun ki rahmete erişeniz." denildiği zaman;
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(46) kendilerine Rablerinin ayetlerinden her hangi bir ayet de gelse, mutlaka ondan yüz çevire geldiler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(47) Onlara: "Allah'ın size rızık olarak verdiği şeylerden hayra harcayın" denildiği zaman, o kafirler, iman edenler için şöyle dediler: "Allah'ın, dileseydi yiyecek verebileceği kimseyi biz hiç yedirir miyiz, siz apaçık bir sapıklık içinde değil de nesiniz?"
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(48) Ve:"Ne zaman bu tehdit , (gerçekleşek eğer) doğru (sözlü) iseniz." diyorlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(49) (Ondan) sadece bir tek sayhaya bakıyorlar, bir sayha ki, onlar çekişip dururlarken kendilerini yakalayıverir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(50) o zaman bir tavsiyede bile bulunamazlar; ailelerine de dönemezler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(51) Sur üfrülmüştür, bir de ne baksınlar kabirlerinden Rablerine doğru akın ediyorlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(52) "Eyvah başımıza gelenlere! Bizi uyuduğumuz yerden kim kaldırdı? O Rahmin' in va'd buyurduğu işte buymuş. Gönderilen peygamberler doğru söylemişler" derler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(53) Başka değil, sadece bir sayha olmuş, derhal hepsi toplanmış huzurumuza getirilmişlerdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(54) Artık bugün hiç kimseye zerrece zulmedilmez. Ancak yaptıklarınızın cezasını çekeceksiniz.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(55) Gerçekten cennetlikler bugün bir eğlence içinde zevk etmektedirler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(56) Kendileri ve eşleri gölgelikler içinde koltuklar üzerinde kurulmuşlardır.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(57) Onlara orada bir meyve vardır. Onlara orada ne isterlerse vardır.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(58) Merhametli Rabbin kelamı bir " Selam " olacak.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(59) Haydin ayrılın bugün ey suçlular!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(60) Ey Adem oğulları, Ben size şeytana kulluk etmeyin, o size açık bir düşmandır, diye and vermedim mi?
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(61) Bana kulluk edin, doğru yol budur, diye.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(62) Böyle, iken yüceliğime karşı o içinizden bir çok nesilleri yoldan çıkardı. O zaman sizin akıllarınız yok muydu?
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(63) İşte bu va'd olunup durduğunuz cehennem.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(64) Bugün yaslanın bakalım ona inkar ettiğiniz için.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(65) Bugün ağızlarını mühürleriz de neler kazandıklarını bize elleri söyler, ayaklar şahitlik eder.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(66) Hem dileseydik gözlerini üzerinden silme kör ediverirdik de yola dökülürlerdi. Fakat nereden görecek- ler.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(67) Yine dilesek kendilerini oldukları yerde kılıklarını değiştirirdik de ne ileri gidebilirlerdi, ne de dönebilirlerdi.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(68) Bununla beraber kimin ömrünü uzatıyorsak yaratılışta onu tersine çeviri(p güçten düşürü)yoruz. Hala akıllanmayacaklar mı?
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(69) Biz ona şiir öğretmedik, ona yakışmaz da; o sadece bir öğüt ve parlak bir Kur'an'dır.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(70) Diri olanı uyandırmak, nankörlere de o azap sözünün gerekmesi için.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(71) Şunu da görmediler mi: Biz onlar için ellerimizin yaptıklarından bir takım yumuşak hayvanlar yaratmışız da onlara sahip bulunuyorlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(72) Onları kendilerine zebun etmişiz de hem onlardan binekleri var, hem de onlardan yiyorlar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(73) Onlarda daha bir çok menfaatleri ve türlü içecekleri de var. Hala şükretmeyecekler mi?
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(74) Tuttular bir de Allah'tan başka bir takım ilahlar edindiler. Güya yardım olunacaklar.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(75) Onların onlara yardıma güçleri yetmez; onlar ise onlar (tanrılar) için celbolunan askerlerdir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(76) O halde onların lakırdıları seni üzmesin. Biz onların içlerini de biliriz dışlarını da.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(77) İnsan görmüyor mu ki, Biz onu bir nutfeden yarattık da şimdi o çeneli bir çekişgen kesildi.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(78) Yaratılışını unutarak Bize bir de mesel (örnek) fırlattı: "Çürümüşken o kemikleri kim diriltir?" dedi.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(79) De ki:"Onları ilk defa yaratan diriltir ve o yaratmanın her türlüsünü bilir."
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(80) O ki size yeşil ağaçtan bir ateş çıkarmasını sağladı da şimdi siz ondan tutuşturup duruyorsunuz.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(81) Gökleri ve yeri yaratan onlar gibisini yaratmaya kadir değil midir? Elbette kadirdir. Yaratan O, her şeyi bilen O!
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(82) O'nun emri, birşeyi dileyince ona sadece "Ol!" demektir. O da oluverir.
                </div><div  class="m-1 px-1 py-3 text-left float-left h4" >(83) Artık tesbih edilmez mi öyle herşeyin hükümranlığı elinde bulunan yüce Allah! Hep de döndürülüp O'na götürüleceksiniz.
            </div>
        </div>
    </div>
</div>
{% endblock %}