{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="row m-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">ESMAÜL HÜSNA</h1>
        </div>
        <div class="row my-5 mx-0 p-3 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 mt-3 m-0 p-0 text-center"><h1 class="display-4 font-italic">YA ALLAH</h1></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0">
                        <p class="lead my-3 text-center" style="font-size:25px;"><bdo dir="rtl">يا الله</bdo> &#1757</p>
                    </div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Okunuşu :</p></div>
                    <div class="col-sm-8 m-0 p-0"><p class="lead">Ya Allah</p></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Anlamı :</p></div>
                    <div class="col-sm-8 m-0 p-0">
                        <p class="lead">
                            Allah, gördüğümüz görmediğimiz, bildiğimiz bilmediğimiz bütün âlemlerin sâhibi ve mâliki, kâinatın yegâne yaratıcısı, her türlü övgüye ve ibâdete lâyık olan yüceler yücesi Rabbimizin doksan dokuz isminin bütün hususiyetlerini kendinde toplayan en kapsamlı özel adıdır.
                        </p>
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Yöntem :</p></div>
                    <div class="col-sm-8 m-0 p-0">
                        <p class="lead">Dileğimizin kabul olması için, her gün ismin ebced değeri kadar (66 kere veya katı) okuyoruz ve dileğimizi diliyoruz.</p>
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                </div>
            </div>
        </div>
        <div class="row my-5 mx-0 p-3 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 mt-3 m-0 p-0 text-center"><h1 class="display-4 font-italic">EL LATİF</h1></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0"><p class="lead my-3 text-center" style="font-size:25px;"><bdo dir="rtl">اللَّطِيفُ</bdo> &#1757</p></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Okunuşu :</p></div>
                    <div class="col-sm-8 m-0 p-0"><p class="lead">Ya Latif</p></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Anlamı :</p></div>
                    <div class="col-sm-8 m-0 p-0">
                        <p class="lead">
                            Lütfü ve keremi bol olan O’dur.<br>
                            Her işin inceliğini bilip, hiç umulmadık yoldan kullarına iyilik ulaştıran Latif’tir.
                        </p>
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-1 m-0 p-0"></div>
                    <div class="col-sm-2 m-0 p-0"><p class="lead">Yöntem :</p></div>
                    <div class="col-sm-8 m-0 p-0">
                        <p class="lead">Dileğimizin kabul olması için, her gün ismin ebced değeri kadar (129 kere) okuyoruz ve dileğimizi diliyoruz.</p>
                    </div>
                    <div class="col-sm-1 m-0 p-0"></div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

