{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="row m-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">ESMAÜL HÜSNA</h1>
        </div>
        <div class="row my-5 mx-0 px-5 pt-3 pb-5 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 py-3 px-0">
                    <h1 class="display-4"><em>YA ALLAH</em> (<bdo dir="rtl">يا الله</bdo>)</h1>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Okunuşu :</u> Ya Allah</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Anlamı :</u> Allah, gördüğümüz görmediğimiz, bildiğimiz bilmediğimiz bütün âlemlerin sâhibi ve mâliki, kâinatın yegâne yaratıcısı, her türlü övgüye ve ibâdete lâyık olan yüceler yücesi Rabbimizin doksan dokuz isminin bütün hususiyetlerini kendinde toplayan en kapsamlı özel adıdır.</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Yöntem :</u> Dileğimizin kabul olması için, her gün 66 kere veya katı kadar okuyoruz ve dileğimizi diliyoruz.</p>
                </div>
            </div>
        </div>
        <div class="row my-5 mx-0 px-5 pt-3 pb-5 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0 py-3 px-0">
                        <h1 class="display-4"><em>EL LATİF</em> (<bdo dir="rtl">اللَّطِيفُ</bdo>)</h1>
                    </div>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Okunuşu :</u> Ya Latif</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Anlamı :</u> Lütfü ve keremi bol olan O’dur. Her işin inceliğini bilip, hiç umulmadık yoldan kullarına iyilik ulaştıran Latif’tir.</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead text-justify"><u>Yöntem :</u> Dileğimizin kabul olması için, her gün ismin ebced değeri kadar (129 kere) okuyoruz ve dileğimizi diliyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

