{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">AYETEL KÜRSİ</h1>
        <p class="lead my-3 text-justify">
            Bakara sûresinin tevhid akîdesini anlatan 255. âyetinin adıdır.
            Adını, âyetin içinde geçen ve “taht, hükümranlık, ilim, kudret” gibi mânalara gelen kürsî kelimesinden almıştır.<br>
            <br>
            Tamamı on cümleden ibaret olan Âyetü’l-kürsî’de Allah Teâlâ’nın birliği,
            O’nun hay (daima diri) ve kayyûm (zâtı ile kāim) olduğu,
            uyuklama ve dalgınlık gibi beşerî sıfatlardan münezzeh olup kâinatı kendi tasarrufunda bulundurduğu,
            O’nun izni olmadan kimsenin şefaat edemeyeceği, bilgisinin ezel ve ebedi kuşattığı,
            kudretinin arz ve semaları kapladığı ve zâtının çok yüce olduğu bildirilerek tevhid inancının
            esasları açık bir şekilde ifade edilmiştir.<br>
            <br>
            Âyetü’l-kürsî’nin fazileti hakkındaki bazı hadislerde Hz. Peygamber Kur’an’da en büyük âyetin
            Âyetü’l-kürsî olduğunu (Müslim, “Müsâfirîn”, 258; Ebû Dâvûd, “Ṣalât”, 352, “Ḥurûf”, 1),
            yatağına girerken onu okuyan kimseyi Allah’ın koruyacağını ve şeytanın ona yaklaşamayacağını
            (Buhârî, “Vekâlet”, 10), bu âyetin içinde Allah’ın en yüce isminin bulunduğunu (Müsned, VI, 461) ve
            Kur’an âyetlerinin efendisi olduğunu (Tirmizî, “Feżâʾilü’l-Ḳurʾân”, 2) haber vermiştir.
            Rivayet tefsirlerinde yer alan bazı hadislerde de Âyetü’l-kürsî’yi okuyana Allah’ın hemen bir melek göndereceği,
            ertesi güne kadar bu meleğin onun iyiliklerini yazacağı ve kötülüklerini sileceği,
            farz namazların arkasından onu okuyanın da öldüğü zaman cennete gireceği ifade edilmiştir.
            Bu hadislerde işaret edilen fazileti sebebiyledir ki Âyetü’l-kürsî namazların sonunda genellikle
            okunan bir âyettir. Aynı inançla namaz dışında da sık sık okunan âyetler arasında yer alır.<br>
            <br>
            Ayetel Kürsi okunan eve şeytan giremez. Büyücü sokulamaz.
            Ayetel Kürsi okumaya devam kişi; hem dünyada hemde ahirette yüce makamlara ulaşır.
            Günahlardan sakınmaya başlar. Huzura erer. Mevki ve makamı artar. Halk arasında sevgi, saygısı ve itibarı çoğalır.
            istediği makama ulaşır. Hiç kimse ona zarar veremez.<br>
            <br>
            Ayetel Kürsi; yemek, buğday, pirinç, arpa gibi şeylere 313 defa okunarak, her okunuşta o şeye üflenirse bereketi artar,
            o şeyde bereketlilik olur.<br>
            <br>
            Ayetel Kürsiyi 170 defa okuyana Allah her işinde yardımcı olur. Zorluk çekmez. üzüntü ve kederden uzak olur.
            Rızkı genişler. Arzularına ve isteklerine kavuşur.<br>
            <br>
            Ayetel Kürsi,  resuller ve ashabı kiram sayısınca 313 defa okuyan kişinin her arzusu yerine gelir. Cesareti artar.
        </p>
        <p class="lead"><a href="{% url 'ruyatabirleri:ayetelkursi_arapca'%}" class="text-white font-weight-bold">Ayetel Kürsi için Tıklayınız...</a></p>
    </div>
</div>
{% endblock %}