{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <div class="row m-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">Kuran-ı Kerim'deki Dua Ayetleri</h1>
        </div>
        <div class="row my-5 mx-0 p-3 text-white rounded bg-success">
            <div class="col-sm-12 px-0">
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0 p-0 text-center"><h1 class="display-4 font-italic">El-Kasas, 24/88</h1></div>
                </div>
                <div class="form-group row m-0 p-0">
                    <div class="col-sm-12 m-0">
                        <p class="lead my-3 text-center" style="font-size:25px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
                        <p class="lead my-3 text-center " style="font-size:25px;"><bdo dir="rtl">رَبِّ اِنّٖى لِمَا اَنْزَلْتَ اِلَیَّ مِنْ خَيْرٍ فَقٖيرٌ</bdo> &#1757</p>
                    </div>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead mx-auto"><u>Okunuşu :</u> Rabbi inni lima enzelte ileyye min khayrin fakir</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead mx-auto"><u>Anlamı :</u> Rabbim! Bana göndereceğin her hayra muhtacım</p>
                </div>
                <div class="form-group row m-0 p-0">
                    <p class="lead mx-auto"><u>Yöntem :</u> Dileğimizin kabul olması için, her gün ayetin ebced değeri kadar
                        (134 kere) okuyoruz ve dileğimizi diliyoruz.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

