{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row mt-3 mb-5 mx-0 p-0">
    <div class="col-md-10 my-0 mx-auto p-0">
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">MÜBİN DUASI</h1>
                <p class="lead my-3 text-right" style="font-size: 30px;">بِسْمِ اللَّهِ الرَّحْمَنِ الرَّحِيمِ</p>
            </div>
        </div>
        <div class="row m-0 p-0">
            <div class="col-md-12">
                <p class="lead my-3 text-right" style="font-size: 30px;">
                    سُبْحَانَ الْمُنَفِّسِ عَنْ كُلِّ مَدْيُونٍ &#1757 <br>
                    سُبْحَانَ الْمُفَرِّجِ عَنْ كُلِّ مَحْزُونٍ &#1757 <br>
                    سُبْحَانَ مَنْ جَعَلَ خَزَآءِنَهُ بَيْنَ الْكَافِ وَالّنُونِ &#1757 <br>
                    سُبْحَانَ مَنْ اِذَا اَرَادَ شَيْأً اَنْ يَقُولَ لَهُ كُنْ فَيَكُونْ &#1757 <br>
                    يَا مُفَرِّجْ فَرِّجْ &#1757
                    يَا مُفَرِّجْ فَرِّجْ &#1757
                    يَا مُفَرِّجْ فَرِّجْ &#1757 <br>
                    فَرِّجْ عَنّ۪ي هَمّ۪ي وَغَمّ۪ي فَرَجًا عَاجِلًا بِرَحْمَتِكَ يَآأَرْحَمَ الرَّاحِم۪ينَ وَصَلَّى اللّٰهُ عَلٰي سَيِّدِنَا مُحَمَّدٍ وَعَلٰى أٰلِه۪ وَصَحْبِه۪ وَسَلَّمَ &#1757
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Türkçe Okunuşu:</h1>
                <p class="lead my-3">
                    Sübhânel müneffisi an külli medyûnin &#1757<br>
                    Sübhânel müferrici an külli mahzûnin &#1757<br>
                    Sübhâne men ceale hazâinihü beynel kâfi ven nûnü &#1757<br>
                    Sübhâne men izâ erâde şeyen en yekûle lehü kün fe yekûnü &#1757<br>
                    Yâ müferricü ferric &#1757<br>
                    Yâ müferricü ferric &#1757<br>
                    Yâ müferricü ferric &#1757<br>
                    Ferric annî hemmî ve ğammî feracen âcilen bi rahmetike yâ erhamer râhimîne ve
                    sallallâhü alâ seyyidinâ muhammedin ve alâ âlihi ve sahbihi ve sellim &#1757<br>
                </p>
            </div>
        </div>
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">Anlamı:</h1>
                <p class="lead my-3">
                    Her borçluyu rahatlatan Zât’ı tesbîh ederim &#1757<br>
                    Her üzüntülüyü rahata çıkaran Zât’ı tenzîh ederim &#1757<br>
                    Hazînelerini; “Kâf” ile “Nûn” arasında (Kün- emrine) yerleştiren Zât’ı tesbîh ederim &#1757<br>
                    Bir şeyi istediği zaman ona “Ol” dediği anda, her istediği oluveren Zât’ı noksan sıfatlardan tenzîh ederim &#1757<br>
                    Ey sıkıntıları açan Zât!.. Sıkıntılarımı aç!..&#1757<br>
                    Ey Allâh-ım!.. âcilen benim sıkıntımı ve kederimi aç!..
                    Ey acıyanların en merhametlisi rahmetinle muâmele eyle!..
                    Allâh Efendimiz Muhammed’e ve Âl-i Ashâbına salât-ü selâm eylesin!..&#1757<br>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

