{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="jumbotron p-3 p-md-5 text-white rounded bg-success">
    <div class="col-md-12 px-0">
        <h1 class="display-4 font-italic">SALATI TEFRİCİYE</h1>
        <p class="lead my-3 text-justify">
            Peygamberimiz'e (sas) salatü selam getirmek, bizim ömür boyu mükellef olduğumuz hasbi görevimizdir.
            Bu konuda Ahzap Sûresi'nde geçen ayette ve birçok hadislerde salatü selam okuma emri vardır.
            Salatı Tefriciye gibi salatü selamlar Peygamberimiz için yaptığımız birer makbul duadırlar.<br>
            <br>
            Salâtı Tefriciye okumaya ihlas ile devam edildiğinde hastalık, zorluk ve sıkıntı gibi durumlardan kurtulmada
            çok etkili olduğu kabul edilmektedir.<br>
            <br>
            İmam Kurtubi her gün 41 veya 100 defa okumaya devam eden kimsenin, zaman içerisinde sıkıntısı gider,
            işi kolaylaşır, içi nurlanır, itibarı artar, hali güzelleşir, rızkı bollaşır, ona hayır kapıları açılır, demiştir.<br>
            <br>
            Ayrıca, duaların bu salât sebebiyle çabuk gerçekleşmesi dolayısı ile Salâtı Nâriye denmiştir.<br>
            <br>
            Yine Kurtubî önemli hayırlı bir işin hasıl olması için veya belanın defi için 4444 kez okunmasını tavsiye etmiştir.<br>
        </p>
        <p class="lead"><a href="{% url 'ruyatabirleri:tefriciye_arapca'%}" class="text-white font-weight-bold">Salatı Tefriciye için Tıklayınız...</a></p>
    </div>
</div>
{% endblock %}