{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h1 class="m-0 py-5 px-3">Gizlilik Politikası</h1>
        <p class="ana_metin px-3">
                    Sitemizi kullanmaya başladığınız andan itibaren burada yazılı olan kuralları kabul etmiş sayılmaktasınız.
                    Sitede yer alan bilgiler, yazılar genel bilgi paylaşımı amaçlıdır.
                    Hiçbir şeyde kesin bilgi, kesin doğruluk iddiası yoktur.
                    Bilgilerin çoğu konusunda uzman kişlerin makalelerinden derlenmiştir.<br>
                    Ruyatabirix.com sitemiz, kullanıcılarının güvenliğini esas alan ve bu güvenliği korumak için
                    üstüne düşen görevleri yerine getiren bir yayın politikası izlemektedir.
                    Ruyatabirix.com sitemizde reklam hizmeti sunmak için 3. taraf reklam hizmeti veren şirketleri
                    kullanmaktayız. Bu reklam şirketleri, ziyaretiniz sırasında elde ettikleri bazı bilgileri,
                    ilginizi çekecek ürünlerin ve hizmetlerin reklamını size göstermek için kullanabilir.
                    Bu durum hakkında daha detaylı bilgi edinmek ve bu bilgilerin başka reklam şirketleri tarafından
                    kullanılmasını engellemek istiyorsanız<br> 
                    http://www.networkadvertising.org/sites/default/files/imce/principles.pdf<br>
                    belgesinin A ekini inceleyebilirsiniz.
                    Ruyatabirix.com sitemiz değişik internet sitelerine link vermektedir.
                    Ruyatabirlerix.com sitemiz bağlantı verdiği bu sitelerin gizlilik prensiplerinden ve yayın içeriğinden
                    sorumlu değildir. 3. taraf reklam gösterici bir firma olan Google, Ruyatabirix.com sitesinde reklam yayınlamak
                    için bilgisayarınızdaki çerezlerden yararlanır.<br>
                    Çerez (cookie), belirli web sitelerinin, bu tür siteleri ziyaret ettiğinizde bilgisayarınızın
                    sabit diskine yazdıkları veri dosyalarıdır.
                    Çerez dosyaları, kullanıcının ziyaret ettiği sayfaların kaydını tutan kullanıcı tanımlama kodları
                    gibi bilgiler içerebilir.
                    Bu bilgilerle herhangi bir kullanıcının kişisel verileri ilişkilendirilmez.
                    Ayrıca bir sonraki girişinizde sitenin sizi hatırlamasını istediğiniz takdir de bunun için ayrı bir
                    çerez oluştururuz burada da kullanıcı adınız veya kullanıcı numaranız yazılır.<br>
                    Birçok web sitesi tarayıcısı çerezleri otomatik olarak kabul etmektedir.
                    Ancak kullanıcılar genellikle tarayıcı ayarlarını değiştirerek bir çerezi kabul etmeden önce
                    uyarılmayı ya da tüm çerezleri reddetmeyi seçmektedirler.
                    Ancak web sitemizden gelecek çerezlerin alımını kapattığınızda,
                    sitenin belirli özelliklerini kullanamayabilirsiniz.<br>

                    Google, bilgisayarınızdaki DoubleClick DART çerezlerini kullanarak sizin ilginizi çekebilecek reklamları gösterir.
                    Bu konuda daha geniş bilgi almak ve bu reklamların bilgisayarınızda gösterilmesini engellemek için<br>
                    http://www.google.com/privacy_ads.html <br>
                    web sayfasını ziyaret edebilirsiniz.<br>
                    Sitemiz, uygun görülmeyen yorumları ve rüyaları yayınlamama hakkına sahiptir.
                    <br>Google Analytics<br>
                    Bu web sitesi, Google, Inc. (“Google”) tarafından sağlanan web analiz hizmetini kullanır.
                    Web sitemizi kullandığınızda, bu kullanım hakkındaki bilgiler, bilgisayarınızda üretilen,
                    çerez adı verilen bir metin dosyasında saklanır. Bu “çerez” yani metin dosyasında bulunan,
                    web sitemizi ziyaret etmenizle ilgili tüm veriler Genelllikle ABD’de bulunan bir Google sunucusuna
                    gönderilir ve orada saklanır.
                    Google bu verileri web analiz hizmetleri için kullanır ve oluşturduğu raporları web sitemizle paylaşır.
                    Eğer isterseniz tarayıcınızda bulunan “çerez” ayarları ile çerezlerin oluşmasını engelleyebilirsiniz.
                    Ayrıca, http://tools.google.com/dlpage/gaoptout?hl=tr bağlantısında bulunan eklentiyi bilgisayarınıza
                    kurarak bu saklanan çerezlerde bulunan kişisel verilerinizin Google tarafından kullanılmasını engelleyebilirsiniz.
                    Verilerinizin güvenliğini koruma ve Google Analytics hakkında daha fazla bilgiyi aşağıdaki bağlantılardan bulabilirsiniz.
                    <br>
                        http://www.google.com/analytics/terms/tr.html
                    <br> veya
                    <br>
                    https://support.google.com/analytics/answer/6004245?hl=tr
                    <br>
                    Google Analytics’te AdWords’tan ve “DoubleClick”ten gelen çerezleri de web analizi yapmak için kullanıyoruz.
                    Bunu istemiyorsanız aşağıdaki bağlantıdan kapatabilirsiniz:
                    <br>
                    http://www.google.com/settings/ads/onweb?hl=tr
                    <br>
                </p>
        </div>
    </div>
</div>
{% endblock %}