{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h1 class="m-0 py-5 px-3">Rüya Nedir?</h1>
        <p class="ana_metin px-3">
                Rüya, uyku halindeki görüş veya görülen şey demektir.
                Rüyalar, İbn-i Mâce'nin Avf ibni Mâlik'ten rivayet ettiği bir hadis-i şerife nazaran üç kısımdır:<br>
                1. insanları mahzun etmek için şeytan tarafından ika edilen bazı hâilevî, korkunç rüyalardır.
                Yüksek bir yerden düşmek, köpek tarafından ısırılma, (yılan gibi muzır canavarların hücumu) gibi...
                Bunlar esas ve asılsız şeylerdir. İnsan böyle bir rüya görünce (derhal) Cenâb-ı Hakk'a sığınmak ve
                bunu başkalarına hikâye etmemelidir.<br>
                2. İnsanın uyanıkken ehemmiyetle meşgul olduğu şeylere ait gördüğü rüyalardır.
                Bunlar da birer kuruntu veya inhiraf-ı mizaç neticesi olduğundan esassız şeylerdir...<br>
                3. Nübüvvetin kırk altı cüz'ünden bir cüz'ü addolunan rüyalardır.
                Bunlar taraf-ı ilâhîden birer beşaret veya inzar (korkutma) mahiyetinde olup,
                bunları bir kısım melekler ümmülkitaptan telâkki ederek uyuyanların ruhlarına ilham ederler...<br><br>

                Birinci ve ikinci kısım rüyalar, birer rüyayı bâtıladır. Üçüncü kısım rüyalara ise birer "rüyayı sâdıka" denilir.
                Bu sâdık rüyalar, doğru sözlü, temiz ve pak yürekli, nezih itikatlı zatlara alelekser nasip olur.
                Ve bu halde bunlara "rüyayı sâliha" adı da verilir...<br><br>

                Resûl-i Ekrem (s.a.v.) Efendimiz'e 23 sene vahy-i ilâhi nazil olmuş ve
                bu vahiy ilk altı ay zarfında lihikmetin rüya-yı sâliha suretiyle tecelli etmiştir.
                İşte bu itibar iledir ki, bu kabil rüyalar birer hakikate tercüman olarak ilm-i nübüvvetin 46 cüzünden
                bir cüz sayılmıştır.<br><br>

                Rüyalar, hukemâya göre de şu iki kısma ayrılmıştır:<br>
                1. Afakî, bir hadiseye delâlet etmeyen, kuvve-i hayâliyenin bir neticesi olan esassız rüyalardır.
                Bunlar ya insanın uyanıkken vuku bulan kuruntularından neş'et eder, veya insanın mizacındaki tahavvülâttan ileri gelir.
                Nitekim insan çok düşündüğü, çok özlediği bir dostunu daima rüyasında,
                bir hasta da kendisini (suya karşı hararetinden dolayı) çeşmeler, ırmaklar, pınarlar kenarında bulur.
                Bütün bu rüyalar hayâlât ve evhamdan ibarettir..<br>

                2. Evvelce vuku bulmuş veya âtiyen vuku bulacak âfâkî bir hadiseye delâlet eden rüyalardır ki,
                o hadiseye bilahare, uyanıklık hâlinde ıttıla'husule gelir.
                Acaba insan, kendisince henüz meçhul olan bir hadiseden böyle rüya vasıtasıyla nasıl haberdar olabiliyor?
                Bu mesele, hakikat-i insaniye ile alâkadardır. İnsanın hakikati yalnız şu beş hassadan ibaret değildir.
                Belki insan asıl "nefs-i natıka" denilen ulvî bir ruhtan ibarettir.
                Bu ruhun, bütün server-i hâdisatın mürtesim bulunduğu âlem-i melekûta manevî bir ittisali vardır.
                Ruh, uyku halinde beden ile iştigalden âzâde kalınca bu melekût âlemine teveccüh eder,
                bir âyineye karşısındaki eşya mün'akis olduğu gibi ruha da melekût alemindeki hâdisat suretlerinden
                bazıları müntabi olur.. Ruh böylece kendisine mün'akis olan sureti, hiss-i müştereke nakleder.
                Kuvve-i mütehavvile, bu sureti ya olduğu halde bırakır veya ona münasip veya zıd bir şekil verir.
                Binaenaleyh insan uykudan uyanınca o sureti ya olduğu gibi sarih bir halde mütehayyilenin verdiği şekilde
                veya bir nevi rumuzât ve işârât halinde tahattur eder.
                Ve böyle başka bir şekil alan rüyalar tâbire, neye delâlet ettiğini tahmin ve tâyine muhtaç olur.
                Bu ikinci kısım rüyalar, birer rüya-yı sahihadır.
                Bunlar birer idrakten ibarettir.
                Bu kabil rüyaların sıhhati, birçok vukuat ile bedahet mertebesine varmıştır.
                Bunun vukuunu inkâr etmek, insanın hakikatini adem-i takdirden neş'et eder...<br><br>

                Üç misâl:<br>
                1. Resûl-i Ekrem (s.a.v.) Efendimiz, ashab-ı kiramıyla beraber emniyetler içinde Mescid-i Haram'a girdiğini
                mübarek rüyasında görmüştü. Bu sarih ve âtiye ait bir rüya-yı sâliha idi...
                Bir sene sonra umretü'l-kazâ vesilesiyle tamamen tahakkuk etmiştir...<br><br>

                2. Hazret-i Yusuf (a.s.) , on bir yıldızın güneş ile ayın kendisine secde ettiğini rüyasında görmüştü.
                Bu da âtiye (geleceğe) ait bir rüya-yı sâliha idi.
                Fakat sarih değil, remz ve işaret hâlinde bir rüya idi.
                Muahheren on bir kardeşiyle beraber baba ve anasının kendisine karşı secde-i şükranda bulunmaları suretiyle
                taayyün etmişti..<br><br>

                3. Nebiyy-i Zîşân Efendimiz, bir gece kendi himayesinde bulunan Huzâa Kabilesi hakkında bir rüya görmüştü.
                Sabahleyin Hazret-i Aişe validemize Huzâa'nın bir hadise karşısında kaldığını haber verdi.
                Aradan birkaç saat geçmeden Huzâa kabilesi tarafından bir heyet gelerek Benî Bekir kabilesinin hücumuna
                uğramış olduklarını Allah'ın Resulüne arz ettiler, işte bu da,
                maziye ait ve çok sarîh olan bir rüya-yı sâliha bulunmuştur.<br><br>

                Velhasıl: Bu kabil rüyalar, Peygamber-i Zîşan hakkında birer vahy-i ilâhîdir ki,
                birer fecr-i sâdık gibi tahakkuk eder. Sulehâyı ümmet hakkında ise ilhâmât ve mübeşşirâttan ma'duttur.
                Nitekim bir hadis-i şerifte: "Nübüvvet devresi nihayet buldu, yalnız müjdeleyici hadiseler kaldı ki,
                onlar da birer rüya-yı sâlihadan (doğru rüyalardan) ibarettir." buyurulmuştur.<br><br>

                Diğer bir hadis-i şerifte de: "Nübüvvet gitti, hitâme erdi; artık benden sonra nübüvvet yoktur.
                Ancak mübeşşirât vardır ki, o da rüya-yı sâlihadır. Bu rüyayı ya bir insan kendi hakkında bizzat görür
                veya bu onun hakkında başkası tarafından görülür." buyurulmuştur...<br><br>

                Şunu da ilave edelim ki: Bir insan, gördüğü böyle bir rüyayı, iktidar ve istidadı var ise kendisi tâbir edebilir,
                başka bir zâta tâbir ettirecek, ise o zât; sâlih, âkil, adavetten hali,
                nâsın ve zamanın ahvaline vâkıf güzel niyete sahip olmalıdır.
                Çünkü rüyalar zamana ve eşhasa göre tebeddül eder ve rüyalar çok kerre tâbir edildiği veçhile zuhura gelir.
                Bu cihetleri nazar-ı dikkate almak lâzımdır.<br><br>


                Nitekim bir hadis-i nebevide:<br> "Rüyada istikrar yoktur. O tâbir edilmedikçe bir uçar ayak üstündedir.
                Fakat tâbir edilince zuhura gelir." buyurulmuştur.<br>
                O halde rüyayı öyle herkese söylememelidir.
                Onu ya dosta veya tâbire vâkıf rey sahibi bulunan bir zata hikâye etmelidir.<br><br>

                ÖMER NASUHİ BİLMEN (Eski Diyanet işleri Başkanı)</p>
    </div>
</div>
{% endblock %}