{% extends 'ruyatabirleri/temel_anasayfa.html' %}
{% load i18n comments %}

{% block content %}
<div class="row my-3 mx-0 p-0">
    <div class="col-md-12 my-0 p-2 p-md-0">
        <div class="row my-5 mx-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">{% trans "RÜYA TABİRLERİ" %}</h1>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-8 my-0 p-0 mx-auto text-center">
                <form class="m-0 p-0 " action="{% url 'ruyatabirleri:ruyatabirleri' %}" method="post">
                    {% csrf_token %}
                    {% trans "Aramak İstediğin Kelimeyi Yaz" as place_holder_1 %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0 text-center" type="text" name="kelime" placeholder="{{place_holder_1}}">
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn-lg btn-dark mx-3 p-2 px-3 border-0" type="submit" name="save">{% trans "ARA" %}</button>
                    </div>
                </form>
                <div class="row m-0 p-0 text-danger">{{mesaj}}</div>
            </div>
        </div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                <h1 class="display-4 font-italic border-bottom box-shadow">The Meaning of {{tabir1.kelime_en}} in Dreams</h1>
                <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabiri_en}}</textarea>
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'zh-hans' %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                <h1 class="display-4 font-italic border-bottom box-shadow">{{tabir1.kelime_ch}}在梦中的含义</h1>
                <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabir_ch}}</textarea>
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'es' %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                <h1 class="display-4 font-italic border-bottom box-shadow">El significado de {{tabir1.kelime_es}} en Dreams</h1>
                <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabiri_es}}</textarea>
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ru' %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                <h1 class="display-4 font-italic border-bottom box-shadow">Значение {{tabir1.kelime_ru}} в снах</h1>
                <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabiri_ru}}</textarea>
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ar' %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                <h1 class="display-4 font-italic border-bottom box-shadow">معنى {{tabir1.kelime_ar2}} في الأحلام</h1>
                <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabir_ar}}</textarea>
            </div>
        </div>

        {% else %}
            {% if tablo == 1 %}
            <div class="row m-0 p-0">
                <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                    <h1 class="display-4 font-italic border-bottom box-shadow">Rüyada {{tabir1.kelime}} görmek</h1>
                    <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabiri}}</textarea>
                </div>
            </div>
            {% else %}
            <div class="row m-0 p-0">
                <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                    <h1 class="display-4 font-italic border-bottom box-shadow">Rüyada {{tabir1.kelime_tr}} görmek</h1>
                    <textarea readonly class="form-control-plaintext p-2 text-justify" rows={{satir}}>{{tabir1.tabiri_tr}}</textarea>
                </div>
            </div>
            {% endif %}
        {% endif %}
        <div class="row m-0 p-0 mt-3">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                {% get_comment_count for ruyatabirleri.ruyatabirleri object_pk as comment_count %}
                <nav class="navbar navbar-dark bg-dark text-white font-italic">
                    <h6>{{ comment_count }} adet yorum bulunmaktadır.</h6>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
                            aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </nav>
                <div class="collapse" id="navbarToggleExternalContent">
                    <div class="bg-white p-3">
                        {% get_comment_list for ruyatabirleri.ruyatabirleri object_pk as comment_list %}
                        {% for comment in comment_list %}
                        <div class="m-0 mt-3 p-0 border border-info">
                            <div>
                                <p class="m-0 px-3 py-0 bg-dark text-white font-italic">{{ comment.user_name }}_{{ comment.submit_date.year}}/{{comment.submit_date.month}}/{{comment.submit_date.day }}</p>
                            </div>
                            <div>
                                <p class="m-0 p-3 h6">{{ comment.comment }}</p>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% if user.is_authenticated %}
        <div class="row m-0 p-0">
            <div class="col-md-10 m-0 p-4 border-bottom mx-auto">
                {% get_comment_form for tabir1 as form %}
                <div class="m-0 p-0">
                    <form class="m-0 p-0" action="{% comment_form_target %}" method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {% if field.name != 'comment' and field.name != 'email' and field.name != 'url' and field.name != 'name' and field.name != 'honeypot' %}
                        <p class="m-0 p-0">{{field}}</p>
                        {% endif %}
                        {% endfor %}
                        {% trans "Yorum Yaz" as yorum_yaz %}
                        <textarea name="comment" class="w-100" rows="3" placeholder="{{yorum_yaz}}"></textarea>
                        <input type="hidden" name="email" value="{{user.email}}" />
                        <input type="hidden" name="url" value=" " />
                        <input type="hidden" name="name" value="{{user}}" />
                        <input type="hidden" name="honeypot" value=" " />
                        <div class="m-0 p-0 text-right">
                            <button class="btn-dark m-0 px-3 py-1 border-0" type="submit" name="submit" >{% trans "GÖNDER" %}</button>
                        </div>
                        {% get_current_language as LANGUAGE_CODE %}
                        {% if LANGUAGE_CODE == 'en' %}
                        <div class="m-0 p-0">
                            <input class="m-0 p-0" type="hidden" name="next" value="{% url 'ruyatabirleri:my_comment_was_posted' slug=tabir1.kelime_en %}" />
                        </div>
                        {% elif LANGUAGE_CODE == 'es' %}
                        <div class="m-0 p-0">
                            <input class="m-0 p-0" type="hidden" name="next" value="{% url 'ruyatabirleri:my_comment_was_posted' slug=tabir1.slug_es %}" />
                        </div>
                        {% elif LANGUAGE_CODE == 'ru' %}
                        <div class="m-0 p-0">
                            <input class="m-0 p-0" type="hidden" name="next" value="{% url 'ruyatabirleri:my_comment_was_posted' slug=tabir1.slug_ru %}" />
                        </div>
                        {% else %}
                            {% if tablo == 1 %}
                            <div class="m-0 p-0">
                                <input class="m-0 p-0" type="hidden" name="next" value="{% url 'ruyatabirleri:my_comment_was_posted' slug=tabir1.slug %}" />
                            </div>
                            {% else %}
                            <div class="m-0 p-0">
                                <input class="m-0 p-0" type="hidden" name="next" value="{% url 'ruyatabirleri:my_comment_was_posted' slug=tabir1.slug_tr %}" />
                            </div>
                            {% endif %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>
        {% else %}
        <div class="row m-0 p-0 mt-3">
            <h6 class="p-0 m-0 font-italic">{% trans "Yorum yazabilmek için üye olarak giriş yapmanız gerekmektedir." %}
                <a class="m-0 p-0" href="{% url 'register:login' %}">{% trans "Giriş Yap" %}</a></h6>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
