{% extends 'ruyatabirleri/temel_anasayfa.html' %}
{% load i18n %}

{% block content %}
<div class="row my-3 mx-0 p-0">
    <div class="col-md-12 my-0 p-2 p-md-0">
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'ar' %}
        <div class="row my-5 mx-0 p-0 text-right" dir="rtl">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">{% trans "RÜYA TABİRLERİ" %}</h1>
        </div>
        {% else %}
        <div class="row my-5 mx-0 p-0">
            <h1 class="display-4 font-italic border-bottom box-shadow mx-auto">{% trans "RÜYA TABİRLERİ" %}</h1>
        </div>
        {% endif %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-8 p-0 mx-auto text-center">
                <form action="{% url 'ruyatabirleri:ruyatabirleri' %}" method="post">
                    {% csrf_token %}
                    {% trans "Aramak İstediğin Kelimeyi Yaz" as place_holder_2 %}
                    <div class="form-group mt-3">
                        <input class="form-control m-0 text-center" type="text" name="kelime" placeholder="{{place_holder_2}}">
                    </div>
                    <div class="form-group mt-3 text-center">
                        <button class="btn-lg btn-dark border-0" type="submit" name="save">{% trans "ARA" %}</button>
                    </div>
                </form>
                <div class="row m-0 p-0 text-danger">{{n1}}{{mesaj}}</div>
            </div>
        </div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'en' %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti' slug=item.slug_en %}">
                            The meaning of {{item.kelime_en}} in Dreams</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'zh-hans' %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti_2' slug=item.slug_ch %}">
                            {{item.kelime_ch}}在梦中的意义</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'es' %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti_2' slug=item.slug_es %}">
                            El significado de {{item.kelime_es}} en Dreams</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ru' %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti_2' slug=item.slug_ru %}">
                            Значение {{item.kelime_ru}} в снах</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ar' %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti_2' slug=item.slug_ar %}">
                            معنى {{item.kelime_ar}} في الأحلام</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 p-0 mx-auto">
                {% for item in tabir1 %}
                <div class="m-0 mt-1 p-3 w-100 mx-auto" style="background-color: gray; background-image: linear-gradient(to bottom, gray, white, gray);">
                    <h6 class="p-0 m-0 text-center">
                        <a class="text-dark" href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti' slug=item.slug_tr %}">
                            Rüyada {{item.kelime_tr}} görmek</a>
                    </h6>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endif %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-8 my-0 p-0 mx-auto">
                <h1 class="lead my-3 text-center">{% trans "Rüya tabirlerini alfabetik sıraya göre inceleyebilirsiniz." %}</h1>
            </div>
        </div>
        {% get_current_language as LANGUAGE_CODE %}
        {% if LANGUAGE_CODE == 'tr' %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-6 m-0 p-0 mx-auto">
                {% with alfabe_tr='abcçdefghıijklmnoöprsştuüvyz' %}
                {% for harfx in alfabe_tr %}
                <div class="col-md-3 m-0 p-0 float-left">
                    <a class="btn btn-dark btn-block border-bottom" href="{% url 'ruyatabirleri:harf_sayfalari' harf=harfx %}" role="button">{{harfx|upper}}</a>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'en' %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-6 m-0 p-0 mx-auto">
                {% with alfabe_en='abcdefghijklmnopqrstuvwxyzz' %}
                {% for harfx in alfabe_en %}
                <div class="col-md-4 m-0 p-0 float-left">
                    <a class="btn btn-dark btn-block border-bottom" href="{% url 'ruyatabirleri:harf_sayfalari' harf=harfx %}" role="button">{{harfx|upper}}</a>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'es' %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-6 m-0 p-0 mx-auto">
                {% with alfabe_es='abcdefghijklmnñopqrstuvwxyz' %}
                {% for harfx in alfabe_es %}
                <div class="col-md-4 m-0 p-0 float-left">
                    <a class="btn btn-dark btn-block border-bottom" href="{% url 'ruyatabirleri:harf_sayfalari' harf=harfx %}" role="button">{{harfx|upper}}</a>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ru' %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-6 m-0 p-0 mx-auto">
                {% with alfabe_ru='абвгдеёжзийклмнопрстуфхцчшщъыьэюя' %}
                {% for harfx in alfabe_ru %}
                <div class="col-md-4 m-0 p-0 float-left">
                    <a class="btn btn-dark btn-block border-bottom" href="{% url 'ruyatabirleri:harf_sayfalari' harf=harfx %}" role="button">{{harfx|upper}}</a>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% elif LANGUAGE_CODE == 'ar' %}
        <div class="row mb-3 m-0 p-0">
            <div class="col-md-6 m-0 p-0 mx-auto">
                {% with alfabe_ar='ابتثجحخدذرزسشصضطظعغفقكلمنهوى' %}
                {% for harfx in alfabe_ar %}
                <div class="col-md-3 m-0 p-0 float-right">
                    <a class="btn btn-dark btn-block border-bottom" href="{% url 'ruyatabirleri:harf_sayfalari' harf=harfx %}" role="button">{{harfx|upper}}</a>
                </div>
                {% endfor %}
                {% endwith %}
            </div>
        </div>
        {% else %}
        {% endif %}
    </div>
</div>
{% endblock %}