{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h1 class="m-0 py-5 px-3">Rüya ile İlgili Hadisler</h1>
        <p class="ana_metin px-3">
                    1) Enes bin Malik (Radiyallahu Anh) şöyle dedi:<br><br>
                    Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu: “Rüya tabir edildiği şekilde gerçekleşir.
                    Bunun örneği ise ayağını kaldıran ve onu yere koyacağı zamanı bekleyen kimsenin durumuna benzer.
                    Buna göre sizden herhangi bir kimse bir rüya görecek olursa onu ya kendisinin iyiliğini isteyen,
                    samimi birisine ya da (rüya tabirinden anlayan) alim birisine anlatsın! Başkasına anlatmasın!”
                    Hakim Müstedrek 4/391, Albânî Silsiletu’l-Ehâdîsi’s-Sahîha 120<br><br>

                    2) Ebu Rezîn (Radiyallahu Anh) şöyle dedi:<br><br>
                    Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu: “Rüya yorumlanmadığı sürece bir kuşun ayağı üzerindedir.
                    (yani istikrarsızdır) Yorumlandığı zaman (yorumlandığı şekilde) gerçekleşir.
                    Sen onu (seni) seven ve (rüya tabirini) bilen kimseden başkasına anlatma!” Ebu Davud 5020 <br><br>

                    3) Ubade bin Samit (Radiyallahu Anh) şöyle dedi:<br><br>
                    Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu: “Mü’minin rüyası,
                    Nebîliğin kırk altı parçasından bir parçadır!” Darimi 2143<br><br>

                    4) Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu:<br><br>
                    “İyi rüya Allah’tandır. Bu sebeple biriniz sevdiği bir rüya gördüğünde Allah’a hamdetsin ve
                    onu sadece sevdiği kimselere anlatsın! Biriniz hoşlanmadığı bir rüya gördüğünde ise
                    soluna üç defa tükürsün ve şerrinden Allah’a sığınsın, onu hiç kimseye de anlatmasın!
                    Artık o kötü rüya ona zarar veremez.” Darimi 2148<br><br>

                    5) Ebu Hureyre (Radiyallahu Anh) şöyle dedi:<br><br>
                    Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu: “…Rü’ya üç kısımdır:<br><br>
                    1) Allah’tan bir müjde olan salih rüya,<br>
                    2) Şeytanın üzüntü vermesinden ibaret olan rüya,<br>
                    3) Kişinin kendi kendine içinden geçirdiği düşüncelerden oluşan rüyadır.<br>
                    Biriniz uykusu içinde hoşlanmadığı bir şey görürse hemen kalksın namaz kılsın ve onu kimseye söylemesin!”
                    Ebu Davud 5019<br><br>

                    6) Ebu Katade (Radiyallahu Anh) şöyle dedi:<br><br>
                    Rasulullah (Sallallahu Aleyhi ve Sellem) şöyle buyurdu: “Rüya Allah’tandır.
                    Hulm (kötü, korkunç ve çirkin rüya) ise şeytandadır!
                    Biriniz, hoşlanmadığı bir rüya görürse sol tarafına üç defa tükürüp sonra o rüyanın şerrinden Allah’a sığınsın!
                    Çünkü (o zaman) o rüya kendisine zarar vermez!” Ebu Davud 5021<br><br>
                </p>
    </div>
</div>
{% endblock %}