{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        <h1 class="m-0 py-5 px-3">Rüya ile Amel edilir mi?</h1>
        <p class="ana_metin px-3">
                        İnsanın sorumlu olduğu saha vardır. Bu da uyanıklık halidir.
                Yani insan uyanıklık halinde sorumludur, uyanıklık haricinde uyku ve baygınlık gibi yaptığı işlerden
                sorumlu tutulmamıştır. Dolayısıyla insan rüyasında yaptığı iş ve davranışlardan, söylediği sözlerden
                sorumlu değildir. Hatta bir insan rüyasında dinden çıkacak kelimeler söylese dinden çıkmış sayılmaz.
                Konuya bu açıdan baktığımızda ister olumlu ister olumsuz manada rüyalarla gelen haberler objektif bir değer
                ifade etmez. Bağlayıcı bir delil kabul edilemez. <br><br>

                Rüya yorumunda rüyanın iyi ve isabetli yorumlanması esastır.<br>

                Bundan dolayı da rüya yorumlayacak kişinin ehil olması şarttır.
                Rüyada Kur' an ve Sünnete aykırı, ters bir durum olduğu takdirde bununla amel edilmesi mümkün değildir.
                Mesela rüyanızda size bir insanı öldürmeniz emrediliyorsa veya intihar etmeniz isteniyorsa
                bununla amel etmek söz konusu olamaz. Çünkü bir insanı öldürmek ve intihar etmek Kur'an-ı Kerimde ve
                Sünnette haram kılınmıştır. Bu rüyayı bir insan defalarca aynı şekilde görse yine de gördüğü rüyayla
                amel edemez ve Kuran ve Sünnet dışına çıkamaz. Kuran ve sünnette tespit edilen hükümler doğrultusunda
                amel etmek zorundadır. Bu gibi örnekleri çoğaltmak mümkündür.<br><br>

                Bununla beraber, rüyaların mübah meselelerde, rüyayı görene münhasır kalmak şartıyla,
                yönlendirici bir fonksiyonunun olduğu da kabul edilebilir.
                Yalnız bunun bile Kur' an ve sünnette ictihad edilerek çıkarılmış bir hüküm ölçüsünde ağırlığının olduğu söylenemez.
                <br><br>
                </p>
    </div>
</div>
{% endblock %}