{% extends 'ruyatabirleri/temel.html' %}

{% block content %}
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 px-0 py-5 text-center">
        <form class="m-0 p-0 " action="{% url 'ruyatabirleri:ruyatabirleri' %}" method="post">
            {% csrf_token %}
            <div class="form-row m-0 p-0">
                <div class="form-group col-md-3 m-0 p-0"></div>
                <div class="form-group col-md-5 m-0 p-0">
                    <input class="form-control form-control-lg" type="text" name="kelime" placeholder="Aramak istediğiniz kelimeyi yazınız.">
                </div>
                <div class="form-group col-md-1 m-0 p-0">
                     <button class="btn-lg btn-light m-0 p-2 px-3 border-0" type="submit" name="save">ARA</button>
                </div>
                <div class="form-group col-md-3 m-0 p-0"></div>
            </div>
        </form>
    </div>
</div>
<div class="row m-0 p-0">
    <div class="col-sm-12 m-0 p-0">
        {% if arama_sonuc_sayisi == 1 %} <!--sayfa düzeni için 1 arama olunca ortalıyoruz çok arama olunca iki sutun halinde-->
        {% for item in tabir1 %}
        <div class="m-0 mt-1 p-3 w-50 mx-auto " style="background-color: #ccffff; background-image: linear-gradient(to right, white,#ccffff, white);">
            <h5 class="p-0 m-0 text-center  "><a href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti' slug=item.slug %}">Rüyada {{item.kelime}} görmek</a></h5>
        </div>
        {% endfor %}
        {% else %}
        {% for item in tabir1 %}
        <div class="m-0 mt-1 p-3 float-left w-50 " style="background-color: #ccffff; background-image: linear-gradient(to right, white,#ccffff, white);">
            <h5 class="p-0 m-0 text-center  "><a href="{% url 'ruyatabirleri:ruyatabirleri_ayrinti' slug=item.slug %}">Rüyada {{item.kelime}} görmek</a></h5>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
