{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-5 mx-0 p-0">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 m-0 p-0">
        <div class="row mt-5 m-0 p-0">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <h1 class="display-4 font-italic border-bottom box-shadow">TEFE'ÜL</h1>
                <p class="lead my-3">Niyet ediniz ve başlatınız.</p>
                <p class="lead my-3 text-right">{{besmele.ayet}}</p>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-sm-3"></div>
            <div class="col-sm-6 m-0 p-0">
                <a href="{% url 'ruyatabirleri:tefeul_yap' %}" class="btn btn-dark btn-lg btn-block" role="button" aria-disabled="true">TEFE'ÜL YAP</a>
            </div>
            <div class="col-sm-3"></div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-sm-12 text-center">
                {% for item in bilgi_satiri_2 %}
                <p class="lead my-3">{{item.sure_no}}. surenin {{item.ayet_no}}. ayetinin {{hangi_kelime}}. kelimesi.</p>
                {% endfor %}
                {% for item in bilgi_satiri_3 %}
                <p class="lead my-3 py-3 border w-50 mx-auto h1">Kelime : {{item.kelime_arapca}}</p>
                <p class="lead my-3">Anlamı : {{item.kelime_turkce}}</p>
                {% endfor %}
                {% for item in bilgi_satiri_2 %}
                <p class="lead my-3">Ayet : {{item.ayet}} &#1757</p>
                <p class="lead my-3">Meal : {{item.ayet_meal}}</p>
                <p class="lead my-3">Sure : {{item.sure_isim}}</p>
                <p class="lead my-3 border-top">BİLGİ : {{bilgi}}</p>
                <p><a href="http://tanzil.net/#1:7">Tanzil.net</a></p>
                <p><a href="http://kuranharitasi.com/kuran.aspx?sureno=1&ayetno=1">Kuranharitasi.com</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="col-sm-2"></div>
</div>
{% endblock %}