<!doctype html>
<html lang="en">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158769165-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-158769165-1');
    </script>
    <script data-ad-client="ca-pub-8505283121324462" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Rüya Tabirleri, Rüyada gördüğünüz olayları kelimeler ile özetleyerek arama yapabilirsiniz. Rüyada görmek.">
    <meta name="keywords" content="Rüya Tabirleri, rüya, rüyada, tabir, tabiri, tabirleri, ruyatabirix, görmek,
     gördüm, dream, dream interpretation, rüya yorumu, rüya tabirleri, dream meanings, islamic dream meanings,
     islamic dream interpretations, dreams fortune teller, fortune teller, burçlar, yildizname, yıldızname,
      fal, balık, koç, boğa, ikizler, yengeç, aslan, başak, terazi, akrep, yay, oğlak, kova,
       horoscopes, aries, taurus, gemini, cancer, leo, virgo, libra, scorpio, sagittarius, capricorn, aquarius, pisces,
        tefe'ul, tefe'ül, tefeul, tefeül, tefeül yap, tefeül nedir, tefe'ül nedir, tefe'ul nedir">
    <meta name="author" content="fehsand">
    <title>ruyatabirix.com</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> <!--icon için-->

    <style>
        body { padding-top: 5rem;}
    </style>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-light bg-white border-bottom box-shadow fixed-top">
    <a class="navbar-brand" href="{% url 'ruyatabirleri:anasayfa'%}">Ruyatabirix.com</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto ">
            <li class="nav-item ">
                <a class="nav-link" href="{% url 'ruyatabirleri:ruyatabirleri_nedir'%}">Rüya Nedir?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ruyatabirleri:yildizname_nedir'%}">Yıldızname Nedir?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ruyatabirleri:tefeul_nedir'%}">Tefe'ül Nedir?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ruyatabirleri:dua_nedir'%}">Dua Nedir?</a>
            </li>
        </ul>
        {% if user.is_authenticated %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user"></i> {{user.username}}</button>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{% url 'register:hesap' %}">Hesabım</a>
                <a class="dropdown-item" href="{% url 'register:logout' %}">Çıkış Yap</a>
            </div>
        </div>
        {% else %}
        <a class="btn btn-outline-dark" href="{% url 'register:login' %}?next={{request.path}}">Giriş Yap</a>
        {% endif %}
    </div>
</nav>

<main role="main" class="container">
    {% block content %}
    {% endblock %}
</main><!-- /.container -->
<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="{% url 'ruyatabirleri:anasayfa'%}">Başa Dön</a></p>
    <p>&copy; 2020 Ruyatabirix.com &middot; <a href="{% url 'ruyatabirleri:gizlilik'%}">Gizlilik Politikası</a>
        &middot; <a href="{% url 'ruyatabirleri:iletisim'%}">İletişim/Sosyal Medya</a>
    </p>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster-->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>