{% extends 'ruyatabirleri/temel_anasayfa.html' %}

{% block content %}
<div class="row my-5 mx-0 p-0">
    <div class="col-md-8 my-0 mx-auto p-0">
        <div class="row mt-5 m-0 p-0">
            <div class="col-md-12">
                <h1 class="display-4 font-italic border-bottom box-shadow">YILDIZNAME</h1>
            </div>
        </div>
        <div class="row my-5 mx-0 p-0">
            <div class="col-md-6 my-0 mx-auto p-0 text-center">
                <form class="m-0 p-0 " action="{% url 'ruyatabirleri:yildizname' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group">
                        <select class="custom-select" name="cinsiyet">
                            <option selected>Cinsiyetiniz</option>
                            <option value="erkek">Erkek</option>
                            <option value="kadın">Kadın</option>
                        </select>
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="text" name="isim" placeholder="İsminiz">
                    </div>
                    <div class="form-group mt-3">
                        <input class="form-control m-0" type="text" name="anne_ismi" placeholder="Annenizin ismi">
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn-lg btn-dark mx-3 p-2 px-3 border-0" type="submit" name="save">BAŞLA</button>
                    </div>
                </form>
                <div class="row m-0 p-0 text-danger">{{mesaj}}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}